
<h4 class="center-align"> <%= @commit.retailer.user.email %>'s commit to <%= @commit.product.title %> </h4>

<div class="col s10 offset-s1 center-align border">
  <h4>Expires at <%= @commit.product.calc_end_time %></h4>
  <div class="row">
    <div class="col s4">
      <%= image_tag @commit.product.main_image, :class => 'responsive-img'%>
    </div>
    <div class="col s8">
      <h3><%= @commit.product.title %></h3>
      <h4>Original Wholesale Price: $<%= @commit.product.price %></h4>
      <h4>Potential Discounted Price: $<%= @commit.product.discount %></h4>
      <h5><%= @commit.product.description %> </h5>

      <% total_orders = Commit.where('product_id = ?', @commit.product.id).sum(:amount).to_i %>
      <% total_sales = total_orders*@commit.product.discount.to_f %>
      <% percentage = ((total_sales/@commit.product.goal.to_f)*100) %>
      <% if percentage >= 100 %>
        <% percentage = 100 %>
      <% end %>
      <div class="row">
        <h4><%= '%.2f' % percentage %>% of the way to the discount!</h4>
        <div class="progress-bar-outline col s8 offset-s2 no-padding">
          <div class="progress-fill no-margin" style="width: <%= percentage %>%">
          </div>
        </div>
      </div>

      <div class="row">
        <h5>You have a pending purchase order of <%= @commit.amount %> <%= @commit.product.title.pluralize %></h5>
        <button class="btn" id ="edit-commit">Edit</button>
        <div id="edit-commit-div" class="col s4 offset-s4">
          <%= form_for @commit do |f| %>
          <div class="input-field">
            <%= f.label "Order Amount" %>
            <%= f.text_field :amount, :value => @commit.amount %><br>
          </div>
          <%= f.button "Update Purchase Order", :class => 'btn' %> <br>
          <% end %>
          <%= button_to "Remove Purchase Order", commit_path(@commit.id), method: :delete, :class => 'btn red' %> <br>
          <button class="btn" id ="cancel-commit-update">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#edit-commit').click(function(){
    $('#edit-commit-div').toggle()
    $('#edit-commit').toggle()
  })
  $('#cancel-commit-update').click(function(){
    $('#edit-commit-div').toggle()
    $('#edit-commit').toggle()
  })
</script>
