<div class="container">

  <div class="show-product">
    <div class="row center-align col s10 offset-s1">
      <div class="row">
        <h5>This product is not yet live. If you like the way things look, go ahead and launch the product</h5>
        <h6>You would have to sell <%= (@product.goal.to_f/@product.discount.to_f).ceil %> units to reach your goal.</h6>
      </div>
      <%= form_for @product, url: "/launch_product/#{@product.id}", method: 'PUT' do |f| %>
        <%= f.submit "LAUNCH PRODUCT", :class => 'btn submit-button' %>
      <% end %>
      <%= form_for @product, url: "/start_over?duration=#{@product.duration}&goal=#{@product.goal}&uuid=#{@product.uuid}", method: 'POST' do |f| %>
        <%= f.submit "CANCEL", :class => 'btn-flat submit-button' %>
      <% end %>
    </div>
    <div class="col 12 valign-wrapper">
      <div class="row">

        <div class="col s12 m6">

          <div class="image-box z-depth-1 valign">
            <div class="row">
              <div class="col s12">
                <%= image_tag @product.main_image.url(:large), :class => 'responsive-img main-image materialboxed' %>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                <% if @product.photo_two.present? %>
                  <%= image_tag @product.photo_two.url(:large), :class => 'responsive-img alternate-image' %>
                <% end %>
              </div>

              <div class="col s2">
                <% if @product.photo_three.present? %>
                    <%= image_tag @product.photo_three.url(:large), :class => 'responsive-img alternate-image' %>
                <% end %>
              </div>

              <div class="col s2">
                <% if @product.photo_four.present? %>
                  <%= image_tag @product.photo_four.url(:large), :class => 'responsive-img alternate-image' %>
                <% end %>
              </div>

              <div class="col s2">
                <% if @product.photo_five.present? %>
                    <%= image_tag @product.photo_five.url(:large), :class => 'responsive-img alternate-image' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6">

          <div class="row center-align">
            <div class="info-box z-depth-1">
              <div class="row">
                <h5 class='bold'><%= @product.title %></h5>
                <a class='black-text' href="/company/<%= @product.wholesaler.user.company.id %>/<%=@product.wholesaler.user.company.company_key%>">
                  <h6>From <%= @product.wholesaler.user.company.company_name %></h6>
                </a>
                <h6 class='was-price bold' style="display: inline-block"><%= number_to_currency(@product.price) %></h6>
                <h6 class='now-price bold' style="display: inline-block"><%= number_to_currency(@product.discount) %></h6>
                <h6 class='bold'>Retails for <%= number_to_currency(@product.retail_price) %></h6>
              </div>

              <div class="row">
                <h6><%= simple_format(@product.long_description) %></h6>
              </div>

              <div class="row">
                <ul>
                  <li><%= @product.feature_one %></li>
                  <% if !@product.feature_two.nil? %>
                    <li><%= @product.feature_two %></li>
                  <% end %>
                  <% if !@product.feature_three.nil? %>
                    <li><%= @product.feature_three %></li>
                  <% end %>
                  <% if !@product.feature_four.nil? %>
                    <li><%= @product.feature_four %></li>
                  <% end %>
                  <% if !@product.feature_five.nil? %>
                    <li><%= @product.feature_five %></li>
                  <% end %>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
