<div class="row">

  <%= render partial: 'partials/wholesaler_profile_nav' %>

  <div class="col s12 m8 offset-m3 center-align">
    <h5>Change Password</h5>
    <div class="center-align row col s12 order-box z-depth-2" style="padding: 15px">
      <div class="row">
        <h6 class="red-text"><%= flash.now[:error] %></h6>
      </div>
      <div class="row">
        <h6 class="green-text"><%= flash.now[:success] %></h6>
      </div>
      <%= form_for current_user, url: "/settings/wholesaler/change_password", method: 'PUT' do |f| %>
        <div class="input-field">
          <label>New Password</label>
          <input type="password" name="user[password]">
        </div>
        <div class="input-field">
          <label>Confirm New Password</label>
          <input type="password" name="user[confirm_password]" value="">
        </div>
        <%= f.submit "Update Password", :class => 'btn' %>
      <% end %>
    </div>

  </div>

</div>
