<div class="row">

  <%= render partial: 'partials/wholesaler_profile_nav' %>

  <div class="col s12 m8 offset-m3 center-align">
    <div class="row center-align">
      <h6 class='green-text'><%= flash[:success] %></h6>
      <% if !flash[:error].nil? %>
        <% flash[:error].each do |err, msg| %>
          <h6 class='red-text'><%= msg %></h6>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col s12 m8 offset-m3 center-align order-box z-depth-2">
    <div class="row">
      <h4><%= @company.company_name%></h4>
      <h6><a href="/company/<%= @company.id %>/<%= @company.company_key %>">View Store Front</a></h6>
    </div>
    <% if @company.logo.present? %>
      <div class="row">
        <div class="row">
          <%= image_tag @company.logo.url(:medium), :class => 'responsive-img' %>
        </div>
        <a href="/api/company/remove_logo?company=<%=@company.id%>" class='btn-flat red-text waves-effect'>Remove Logo</a>
      </div>
    <% end %>
    <div class="row">
      <%= form_for @company do |f| %>
        <div class="input-field">
          <label for="bio">Company Bio</label>
          <%= f.text_area :bio, :id => "bio", :class => "materialize-textarea" %> <br>
        </div>
        <!-- <textarea name="company[bio]" rows="8" cols="40" placeholder="Company Bio"><%= @company.bio %></textarea> -->
        <div class="input-field">
          <label>Location</label>
          <input type="text" name="company[location]" value="<%= @company.location %>">
        </div>
        <div class="input-field">
          <label>Sales Email for Retailers (optional)</label>
          <input type="email" name="company[contact_email]" value="<%= @company.contact_email %>">
        </div>
        <!-- <div class="input-field col s12 l6">
          <label>Sales Phone Number for Retailers (optional)</label>
          <input type="number" name="company[contact_number]" value="<#%= @company.contact_number %>" length="10">
        </div> -->
        <input type="submit" value="Update Company Info" class="btn submit-button">
      <% end %>
    </div>
  </div>

  <div class="col s12 m8 offset-m3 center-align order-box z-depth-2">
    <div class="row">
      <h5>Update Company Logo</h5>
    </div>
    <div class="row">
      <%= form_for @company do |f| %>
        <div class="file-field input-field">
          <div class="btn">
            <span>Logo</span>
            <%= f.file_field :logo %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <%= f.submit "Update Logo", :class => 'btn submit-button' %>
      <% end %>
    </div>
  </div>


</div>
