<div class="row center-align">
  <div class="right-align">
    <a href="/wholesaler" class="btn-flat waves-effect border">Cancel</a>
  </div>
  <h4>List a New Product!</h4>
</div>

  <div class="row center-align">
    <h5>Duration of Listing: <%= @product.duration.gsub('_', ' ') %></h5>
    <h5>Sales Goal: $<%= @product.goal%></h5>
    <% if flash.now[:error] %>
      <% flash.now[:error].each do |err, msg| %>
        <h6 class="red-text error-field"><i span="tiny material-icons">error_outline</i> <%= msg.first %></h6>
      <% end %>
    <% end %>
    <div class="col s12">
      <%= form_for Product.new, :html => {:class => 'new-product-form'} do |f| %>
        <%= f.hidden_field :duration, :value => params[:duration] %>
        <%= f.hidden_field :goal, :value => params[:goal] %>

        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">

            <h5>Describe your product.</h5>
            <div class="input-field">
              <%= f.label 'Product Title*' %>
              <%= f.text_field :title, :value => @product.title %> <br>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="short-description">Short Description*</label>
                <%= f.text_area :description, :id => "short-description", :class => "materialize-textarea", :length => 60, :value => @product.description %> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Short, 120 character maximum length product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="long-description">Long Description</label>
                <%= f.text_area :long_description, :id => "long-description", :class => "materialize-textarea", :value => @product.long_description %> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Longer, detailed product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field">
              <%= f.label "Feature One*" %>
              <%= f.text_field :feature_one, :value => @product.feature_one %>
            </div>
            <div class="input-field">
              <%= f.label "Feature Two" %>
              <%= f.text_field :feature_two, :value => @product.feature_two %>
            </div>
            <div class="input-field">
              <%= f.label "Feature Three" %>
              <%= f.text_field :feature_three, :value => @product.feature_three %>
            </div>
            <div class="input-field">
              <%= f.label "Feature Four" %>
              <%= f.text_field :feature_four, :value => @product.feature_four %>
            </div>
            <div class="input-field">
              <%= f.label "Feature Five" %>
              <%= f.text_field :feature_five, :value => @product.feature_five %>
            </div>

            <div class="input-field">
              <select name="product[category]">
                <option disabled>Choose Category*</option>
                <% if @product.category == 'Home Goods' %>
                  <option value="Home Goods" selected="selected">Home Goods</option>
                <% else %>
                  <option value="Home Goods">Home Goods</option>
                <% end %>
                <% if @product.category == 'Accessories' %>
                  <option value="Accessories" selected="selected">Accessories</option>
                <% else %>
                  <option value="Accessories">Home Goods</option>
                <% end %>
                <% if @product.category == 'Apparel' %>
                  <option value="Apparel" selected="selected">Apparel</option>
                <% else %>
                  <option value="Apparel">Home Goods</option>
                <% end %>
                <% if @product.category == 'Tech' %>
                  <option value="Tech" selected="selected">Tech</option>
                <% else %>
                  <option value="Tech">Home Goods</option>
                <% end %>
              </select>
            </div>

          </div>
        </div>

        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">
            <h5>Show off your product.</h5>
            <div class="col 2">
              <span>Main Image</span>
              <%= image_tag @product.main_image.url(:thumb), :class => 'responsive-img' %>
            </div>
            <div class="col s2">
              <span>Image Two</span>
              <%= image_tag @product.photo_two.url(:thumb), :class => 'responsive-img' %>
            </div>
            <div class="col s2">
              <span>Image Three</span>
              <%= image_tag @product.photo_three.url(:thumb), :class => 'responsive-img' %>
            </div>
            <div class="col s2">
              <span>Image Four</span>
              <%= image_tag @product.photo_four.url(:thumb), :class => 'responsive-img' %>
            </div>
            <div class="col s2">
              <span>Image Five</span>
              <%= image_tag @product.photo_five.url(:thumb), :class => 'responsive-img' %>
            </div>
          </div>
        </div>

        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">
            <h5>Set the numbers.</h5>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <%= f.label 'Product Full Wholesale Price*' %>
                <%= f.number_field :price, :value => @product.price %> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>This is the full wholesale price. <br>IMPORTANT: This will be the price retailers will have the choice to<br> purchase from if your sales goal is not met</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <%= f.label 'Product Discounted Wholesale Price*' %>
                <%= f.number_field :discount, :class => 'product-discount', :value => @product.discount %> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>This is the discounted price you are offering. <br>This is only the price IF your goal of $<%= @product.goal %> is met<br> within <%= @product.duration.gsub('_', ' ') %></h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <%= f.label 'Product Inventory For Sale*' %>
                <%= f.number_field :quantity, :class => 'product-quantity', :value => @product.quantity %> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="top" data-delay="0" data-tooltip="<h6>How much inventory you are listing for sale <br> Tip: must be possible to reach $<%=params[:goal]%> in sales at your<br> discounted price with this amount of inventory.</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>

          </div>
        </div>

        <div class="row col s12">
          <div class="row">
            <%= f.submit 'Create Product', :class => 'submit-button btn' %>
          </div>
          <div class="row">
            <div class="col s2 offset-s5">
              <img src="/images/loading.gif" class='responsive-img loading-wheel hidden' />
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<script>
  $(document).ready(function() {
    $('select').material_select()
    $('.tooltipped').tooltip({html: true});
    $('.tooltipped').each(function(index, element) {
      var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
      span.before($(element).attr('data-tooltip'));
      span.remove();
    });
  });

  $('form').submit(function(){
    $('.submit-button').remove()
    $('.loading-wheel').attr('class', 'responsive-img')
  })
</script>
