<div class="row center-align">
  <div class="right-align">
    <a href="/wholesaler" class="btn-flat waves-effect border">Cancel</a>
  </div>
  <h4>List a New Product!</h4>
</div>

  <div class="row center-align">
    <% if !flash[:error].nil? %>
      <% flash[:error].each do |err, msg| %>
        <h6 class="red-text error-field"><i span="tiny material-icons">error_outline</i> <%= msg.first %></h6>
      <% end %>
    <% end %>
    <div class="col s12">
      <%= form_tag("/fix_product/#{@product.uuid}", multipart: true) do %>
        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">

            <div class="input-field">
              <label>Duration</label>
              <select name="product[duration]">
              <%
                ['5_minutes', '1_day', '7_days', '14_days', '30_days'].each do |dur|
                  if dur == @product.duration
              %>
                    <option value="<%= dur %>" selected="selected"><%= dur.gsub('_', ' ').capitalize %></option>
                  <% else %>
                    <option value="<%= dur %>"><%= dur.gsub('_', ' ').capitalize %></option>
                <% end %>
              <% end %>
            </select>
            </div>
            <div class="input-field">
              <label>Sales Goal ($)</label>
              <input type="number" name="product[goal]" value="<%= @product.goal %>" step="0.01">
            </div>

          </div>
        </div>


        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">

            <h5>Describe your product.</h5>
            <div class="input-field">
              <%= label_tag 'Product Title*' %>
              <input type="text" name="product[title]" value="<%= @product.title %>">
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="short-description">Short Description*</label>
                <textarea name="product[short_description]" rows="8" cols="40" class="materialize-textarea" required><%= @product.short_description %></textarea>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Short, 120 character maximum length product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="long-description">Long Description</label>
                <textarea name="product[long_description]" rows="8" cols="40" class="materialize-textarea" required><%= @product.long_description %></textarea>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Longer, detailed product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field">
              <%= label_tag "Feature One*" %>
              <input type="text" name="product[feature_one]" value="<%= @product.feature_one %>">
            </div>
            <div class="input-field">
              <%= label_tag "Feature Two" %>
              <input type="text" name="product[feature_two]" value="<%= @product.feature_two %>">
            </div>
            <div class="input-field">
              <%= label_tag "Feature Three" %>
              <input type="text" name="product[feature_three]" value="<%= @product.feature_three %>">
            </div>
            <div class="input-field">
              <%= label_tag "Feature Four" %>
              <input type="text" name="product[feature_four]" value="<%= @product.feature_four %>">
            </div>
            <div class="input-field">
              <%= label_tag "Feature Five" %>
              <input type="text" name="product[feature_five]" value="<%= @product.feature_five %>">
            </div>

            <div class="input-field">
              <select name="product[category]">
              <%
                ['Home Goods', 'Accessories', 'Tech', 'Apparel'].each do |cat|
                  if cat == @product.category
              %>
                    <option value="<%= cat %>" selected="selected"><%= cat.gsub('_', ' ').capitalize %></option>
                  <% else %>
                    <option value="<%= cat %>"><%= cat.gsub('_', ' ').capitalize %></option>
                <% end %>
              <% end %>
            </select>
            </div>

          </div>
        </div>

        <div class="col s8 offset-s2">
          <div class="product-form-div z-depth-2">
            <h5>Show off your product.</h5>
            <div class="row">
              <div class="col s12 center-align">
                <h6>Main Image</h6>
                <%= image_tag @product.main_image.url(:thumb), :class => 'responsive-img' %>
              </div>
              <% if @product.photo_two.present? %>
                <div class="col s12 center-align">
                  <h6>Image Two</h6>
                  <%= image_tag @product.photo_two.url(:thumb), :class => 'responsive-img' %>
                </div>
              <% else %>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Image Two</span>
                    <input type="file" name="product[photo_two]">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              <% end %>
              <% if @product.photo_three.present? %>
                <div class="col s12 center-align">
                  <h6>Image Three</h6>
                  <%= image_tag @product.photo_three.url(:thumb), :class => 'responsive-img' %>
                </div>
              <% else %>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Image Three</span>
                  <input type="file" name="product[photo_three]">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <% end %>
              <% if @product.photo_four.present? %>
                <div class="col s12 center-align">
                  <h6>Image Four</h6>
                  <%= image_tag @product.photo_four.url(:thumb), :class => 'responsive-img' %>
                </div>
              <% else %>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Image Four</span>
                    <input type="file" name="product[photo_four]">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              <% end %>
              <% if @product.photo_five.present? %>
                <div class="col s12 center-align">
                  <h6>Image Five</h6>
                  <%= image_tag @product.photo_five.url(:thumb), :class => 'responsive-img' %>
                </div>
              <% else %>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Image Five</span>
                    <input type="file" name="product[photo_five]">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2">
          <div class="product-form-div z-depth-2">
            <h5>Set the numbers.</h5>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <%= label_tag 'Percent Discount*' %>
                <input type="number" name="product[percent_discount]" class='product-wholesale-price' step="1" value="<%= @product.percent_discount %>" required> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>This is the percent discount you will offer off of your full wholesale price.<br>IMPORTANT: This will be the price retailers will have the choice to<br> purchase from if your sales goal is not met</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>

          </div>
        </div>

        <div class="row col s12">
          <div class="row">
            <%= submit_tag 'Create Product', :class => 'submit-button btn' %>
          </div>
          <div class="row">
            <div class="col s2 offset-s5">
              <img src="/images/loading.gif" class='responsive-img loading-wheel hidden' />
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<script>
  $(document).ready(function() {
    $('select').material_select()
    $('.tooltipped').tooltip({html: true});
    $('.tooltipped').each(function(index, element) {
      var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
      span.before($(element).attr('data-tooltip'));
      span.remove();
    });
  });

  $('form').submit(function(){
    $('.submit-button').remove()
    $('.loading-wheel').attr('class', 'responsive-img')
  })
</script>
