<div class="container">

  <div class="center-align">
    <h3>Orders to be shipped:</h3>
  </div>
  <%
    EasyPost.api_key = ENV['EASYPOST_API_KEY']
  %>

  <% @need_to_ship.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |commit| %>
        <div class="col s12 m4 border center-align">
          <h4><%= commit.product.title %></h4>
          <%= image_tag commit.product.main_image.url(:medium), :class => 'responsive-img' %>
          <h5><%= commit.amount %> Orders</h5>
          <% if !commit.full_price %>
            <h5 class='sale-amount'>$<%= sale_amount = '%.2f' % (commit.product.discount.to_f*commit.amount.to_f) %></h5>
          <% else %>
            <h5 class='sale-amount'>$<%= sale_amount = '%.2f' % (commit.product.price.to_f*commit.amount.to_f) %></h5>
            <h6>(Purchased for full price)</h6>
          <% end %>
          <% address = EasyPost::Address.retrieve(commit.shipping_address.address_id) %>
          <h6>Ship to:</h6>
          <h6><%= commit.retailer.user.full_name %></h6>
          <h6><%= commit.retailer.user.company.company_name %></h6>
          <h6><%= address.street1 %></h6>
          <% if address.street2 != '' %>
            <h6><%= address.street2 %></h6>
          <% end %>
          <h6><%= address.city %>, <%= address.state %></h6>
          <h6><%= address.zip %></h6>
          <div class="submit-tracking">
            <form class="tracking-form">
              <div class="input-field">
                <input type="hidden" class="sale-amount" value="<%= sale_amount %>">
                <label>Tracking Number</label>
                <input class="tracking-number" data="<%= commit.uuid %>" type="text" value="EZ3000000003">
              </div>
              <input type="submit" value="Enter Tracking Number" class='btn submit-tracking'>
            </form>
          </div>
          <!-- <button class='submit-tracker btn'>Enter Tracking Number</button> -->
          <h6 class='error-message red-text'></h6>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<script>
$(document).ready(function(){

  $('.tracking-form').submit(function(e){
      e.preventDefault()
      var div = $(this).parent().parent()
      var form = $(this)
      var trackingInput = form.find($('.tracking-number'))
      var trackingNumber = trackingInput.val()
      var commitUuid = trackingInput.attr('data')
      var saleAmount = form.find($('.sale-amount')).val()
      var submitButton = form.find('.submit-tracking')
      replaceWithGif(submitButton)
      console.log('replace..');

      createTracking(commitUuid, trackingNumber, form, saleAmount, div)
      $(this).find('.submit-tracking').prop('disabled', true)
      $(this).find('.submit-tracking').text("Sending tracking info")
    })
  })

  function createTracking(commitUuid, trackingNumber, form, saleAmount, div) {
    $.ajax({
      method: 'POST',
      url: '/api/shipping/ship_order?commit_uuid=' + commitUuid + '&tracking_code=' + trackingNumber,
      success: function(data){
        console.log(data);
        if(data.success){
          div.fadeOut(2000)
        } else {
          div.find('.error-message').text(data.error)
          div.find('.submit-tracking').prop('disabled', false)
          div.find('.submit-tracling').text('Enter Tracking Number')
        }
      }
    })
  }
</script>
