
<div class="container center-align">
  <h5>Needs Attention</h5>

  <h6 id="notice"></h6>

  <% @products.each_slice(2) do |slice| %>
    <div class="row">
      <% slice.each do |product| %>
        <div class="border col s6 center-align product">

          <h6>Expired at <%= product.calc_end_time %></h6>
          <h5><%= product.title %></h5>
          <%= image_tag product.main_image, :class => 'responsive-img' %>
          <h5 class="was-price">Was $<%= product.price %></h5>
          <h5>Now $<%= product.discount %></h5>
          <h5><%= product.description %></h5>

          <% total_orders = Commit.where('product_id = ?', product.id).sum(:amount).to_i %>
          <% total_sales = total_orders*product.discount.to_f %>
          <% real_percentage = ((total_sales/product.goal.to_i)*100) %>
          <% if real_percentage >= 100 %>
            <% percentage = 100 %>
          <% end %>
          <h5>$<%= '%.2f' % total_sales %> in sales</h5>
          <h5>Completed <%= '%.2f' % real_percentage %>% of your goal</h5>

          <% if total_sales > 0 %>
            <button class='grant-discount green btn' data='<%= product.id %>'>Grant Discount</button>
          <% end %>
          <button class='expire-product btn red lighten-2' data='<%= product.id %>'>Expire Product</button>
          <button class='extend-product btn green' data='<%= product.uuid %>'>Extend Product</button>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<script>
  $('.grant-discount').click(function(){
    var div = $(this).parent()
    var productId = $(this).attr('data')
    $.ajax({
      url: '/api/grant_discount?product_id=' + productId,
      success: function(data) {
        console.log(data);
        $('#notice').text("You have successfully granted the discount to " + data.product.title + ", you must now ship it out and the funds will be transferred to your account (see your profile page)!")
        div.fadeOut()
      }
    })
  })

  $('.expire-product').click(function(){
    var div = $(this).parent()
    var productId = $(this).attr('data')
    $.ajax({
      url: '/api/expire_product?product_id=' + productId,
      success: function(data) {
        console.log(data);
        $('#notice').text("You have successfully expired the product " + data.product.title + ", you are no longer guaranteed any sales.")
        div.fadeOut()
      }
    })
  })

  $('.extend-product').click(function(){
    var div = $(this).parent()
    var productUuid = $(this).attr('data')
    $.ajax({
      url: '/api/products/extend_product?uuid=' + productUuid,
      success: function(data){
        console.log(data);
        $('#notice').text(data.product.title + " has been extended 10 more days!")
        div.fadeOut()
      }
    })
  })
</script>
