<div class="add-order-error-div white-text red center-align">
  <div class="center-align col s8 offset-s2">
    <h5>All orders in a shipment must be going to the same address.</h5>
  </div>
  <div class="center-align col s2">
    <h5 class='pointer exit-error-div'>X</h5>
  </div>
</div>


<div class="container">

  <div class="center-align">
    <h3>Orders to be shipped:</h3>
  </div>
  <!-- <%
    EasyPost.api_key = ENV['EASYPOST_API_KEY']
  %> -->

  <% if params[:shipment].nil? %>
    <div class="border center-align col s12">
      <h4>New Shipment Info</h4>
      <div class="col s8 offset-s2">
        <form class='set-initial-shipment'>
          <div class="input-field">
            <label>Tracking Number</label>
            <input type="text" class="tracking-number" value="EZ3000000003">
          </div>
          <div class="input-field">
            <label>Shipping Cost</label>
            <input type="number" class="shipping-cost" step="0.01">
          </div>
          <h6 class='red-text errors'></h6>
          <input type="submit" value="Enter Shipment Info" class='submit btn'>
        </form>
      </div>
    </div>

  <% elsif !params[:shipment].nil? %>

  <div class="border col s12 center-align">
    <% if @shipment.stripe_charge_id.nil? %>
      <% if !@ez_shipment.carrier_detail.nil? %>
        <h5>Destination: <%= @ez_shipment.carrier_detail.destination_location.downcase.capitalize %></h5>
      <% end %>
      <h5>Tracking Code: <%= @ez_shipment.tracking_code %></h5>
      <h6 class='remove-hint hidden'>(Click these orders to remove from shipment)</h6>
      <div class="col s12 shipment-orders">
      </div>
      <h4 class='green-text add-order-success'></h4>
      <div class="row col s12">
        <h6 class='red-text error'></h6>
        <button class='btn complete-shipment hidden' data-shipment='<%=@shipment.id %>'>Complete Shipment</button>
      </div>
    <% else %>
      <h5>Shipment to <%= @ez_shipment.carrier_detail.destination_location.downcase.capitalize %> is out for shipping.</h5>
      <div class="row col s12">
        <% if current_user.wholesaler.products_to_ship.count > 0 %>
          <a href="/needs_shipping" class='btn'>More Orders to Ship</a>
        <% else %>
          <a href="/wholesaler" class='btn'>No More Pending Orders</a>
        <% end %>
      </div>
    <% end %>
    <div class="completion-button-div">
    </div>
  </div>

  <div class="center-align">
    <h5>Click from your orders to ship out below to add to this shipment.</h5>
  </div>

  <% if @shipment.stripe_charge_id.nil? %>
    <div class="available-orders">
      <% @shipments.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |po| %>
            <div class="col s12 m6 l4 center-align" style='padding: 10px !important'>
              <div class='border add-order-to-shipment' data-po='<%= po.id %>' data-address='<%= po.commit.shipping_address_id %>' style='min-height: 500px'>
                <h5><%= po.sku.product.title %></h5>
                <h6><%= po.sku.description %></h6>
                <%= image_tag po.sku.image.url(:medium), :class => 'responsive-img' %>
                <h6 class='bold'><%= po.quantity %> orders</h6>
                <h6>Ship to:</h6>
                <h6><%= po.commit.retailer.user.full_name %></h6>
                <h6><%= po.commit.retailer.user.company.company_name %></h6>
                <h6><%= po.commit.shipping_address.street_address_one %></h6>
                <% if po.commit.shipping_address.street_address_two %>
                  <h6><%= po.commit.shipping_address.street_address_two %></h6>
                <% end %>
                <h6><%= po.commit.shipping_address.zip %></h6>
                <h6><%= po.commit.shipping_address.city %></h6>
                <h6><%= po.commit.shipping_address.state %></h6>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
</div>
