
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
  <div class="progress col s8 offset-s2">
    <div class="determinate" style="width: 25%"></div>
  </div>
</div>

<div class="row center-align">
  <div class="right-align">
    <a href="/wholesaler" class="btn-flat waves-effect border">Cancel</a>
  </div>
  <h4>List a New Product!</h4>
</div>

<% if !params[:duration] %>
  <div class="row center-align">
    <div class="col s12 m8 offset-m2">
      <div class="product-form-div z-depth-2">

        <form>
          <select name="duration" id="duration-select">
            <option disabled="disabled" selected>Select Sale Duration</option>
            <option value="5_minutes">5 Minutes</option>
            <option value="1_day">1 Day</option>
            <option value="7_days">7 Days</option>
            <option value="10_days">10 Days</option>
            <option value="14_days">14 Days</option>
            <option value="30_days">30 Days</option>
          </select>
          <input type="submit" value="Set Duration" class='btn'>
        </form>

      </div>
    </div>
  </div>

<% elsif !params[:goal] %>
  <div class="row center-align">
    <h4>Duration of Listing: <%= params[:duration].gsub('_', ' ') %></h4>
    <div class="col s12 m8 offset-m2">

      <div class="product-form-div z-depth-2">
        <form action="/new_product?duration=<%=params[:duration]%>" method="get">
          <input type="hidden" name="duration" value="<%= params[:duration] %>">
          <div class="row valign-wrapper">
            <div class="col s1 right-align valign">
              <h6>$</h6>
            </div>
            <div class="col s11 left-align valign-wrapper">
              <div class="col s11 input-field">
                <label>Sales Goal ($)</label>
                <input type="number" name="goal" step="0.1" required>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="right" data-delay="0" data-tooltip="<h6>This is your sales goal, if it is <br> met you will sell this product<br> for the discounted price you set.</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
          </div>
          <input type="submit" value="Set Sales Goal" class="btn">
        </form>
      </div>

    </div>
  </div>
<% end %>

<% if params[:goal] && params[:duration] %>
  <div class="row center-align">
    <h5>Duration of Listing: <%= params[:duration].gsub('_', ' ') %></h5>
    <h5>Sales Goal: <%= number_to_currency(params[:goal]) %></h5>
    <% if !flash[:error].nil? %>
      <% flash.now[:error].each do |err| %>
        <h6 class="red-text error-field"><i span="tiny material-icons">error_outline</i> <%= err %></h6>
      <% end %>
    <% end %>
    <div class="col s12">
      <%= form_tag('', multipart: true) do %>
        <input type="hidden" name="product[duration]" value="<%= params[:duration] %>">
        <input type="hidden" name="product[goal]" value="<%= params[:goal] %>">

        <div class="col s12 m8 offset-m2">
          <div class="product-form-div z-depth-2">

            <h5>Describe your product.</h5>
            <div class="input-field">
              <label>Product Title*</label>
              <input type="text" name="product[title]" required>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="short-description">Short Description*</label>
                <textarea name="product[short_description]" class='materialize-textarea' id='short-description' rows="8" cols="40" length="60" required></textarea>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Short, 60 character maximum length product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label for="long-description">Long Description</label>
                <textarea name="product[long_description]" class='materialize-textarea' id='long-description' rows="8" cols="40" required></textarea>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>Longer, detailed product description</h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>
            <div class="input-field">
              <label>Feature One*</label>
              <input type="text" name="product[feature_one]" required>
            </div>
            <div class="input-field">
              <label>Feature Two</label>
              <input type="text" name="product[feature_two]">
            </div>
            <div class="input-field">
              <label>Feature Three</label>
              <input type="text" name="product[feature_three]">
            </div>
            <div class="input-field">
              <label>Feature Four</label>
              <input type="text" name="product[feature_four]">
            </div>
            <div class="input-field">
              <label>Feature Five</label>
              <input type="text" name="product[feature_five]">
            </div>

            <div class="input-field">
              <select name="product[category]" required>
                <option selected="selected" disabled>Choose Category*</option>
                <% ProductCategory.all.each do |cat| %>
                  <option value="<%=cat.key%>"><%=cat.name%></option>
                <% end %>
              </select>
            </div>

          </div>
        </div>

        <div class="col s12 m8 offset-m2">
          <div class="product-form-div z-depth-2">
            <div class="row">
              <h5>Show off your product.</h5>
              <h5>These are the generic images of your product, images for variations of your product will be completed in the following steps.</h5>
              <h6 class='bold'>Tips:</h6>
              <h6>Image format <span class='bold'>must</span> be either JPEG, PNG, or GIF.</h6>
              <h6>Product images are displayed as squares, so please upload a 1:1 ratio image for it to not become distorted.</h6>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Main Image*</span>
                <input type="file" name="product[main_image]" required>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Image Two</span>
                <input type="file" name="product[photo_two]">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Image Three</span>
                <input type="file" name="product[photo_three]">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Image Four</span>
                <input type="file" name="product[photo_four]">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Image Five</span>
                <%= file_field_tag :photo_five %>
                <!-- <input type="file" name="product[photo_five]"> -->
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2">
          <div class="product-form-div z-depth-2">
            <h5>Set the numbers.</h5>
            <div class="input-field valign-wrapper">
              <div class="col s11">
                <label>Percent Discount of Wholesale Price*</label>
                <input type="number" name="product[percent_discount]" class='product-discount-price' step="0.01" required> <br>
              </div>
              <div class="col s1 valign">
                <a class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="<h6>This is the percentage discount you are offering. <br>This is only the price IF your goal of $<%=params[:goal] %> is met<br> within <%= params[:duration].gsub('_', ' ') %></h6>"><i class="tiny material-icons">live_help</i></a>
              </div>
            </div>

          </div>
        </div>

        <div class="row col s12">
          <div class="row">
            <div class='red-text front-end-validate'></div>
            <input type="submit" value="Create Product" class='btn submit-button'>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('select').material_select()
    $('.tooltipped').tooltip({html: true});
    $('.tooltipped').each(function(index, element) {
      var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
      span.before($(element).attr('data-tooltip'));
      span.remove();
    });
  });

  // $('.new-product-form').submit(function(e){
  //   $(this).find('.btn').prop('disabled', true)
  //   $(this).find('.btn').val('Saving product...')
  //   $(this).find('.front-end-validate').text('')
  //   var inventory = parseInt($(this).find('.product-quantity').val())
  //   var retailPrice = parseInt($(this).find('.product-retail-price').val())
  //   var fullPrice = parseInt($(this).find('.product-wholesale-price').val())
  //   var discountedPrice = parseInt($(this).find('.product-discount-price').val())
  //   var errors = []
  //   if(discountedPrice*inventory < "<%= params[:goal] %>") {
  //     errors.push("Your inventory and discounted price makes it impossible to reach your goal of <%= number_to_currency(params[:goal]) %> ($"+discountedPrice+" discounted x "+inventory+" inventory = $"+discountedPrice*inventory+"; must be higher than <%= number_to_currency(params[:goal]) %>)")
  //   }
  //   if(discountedPrice >= fullPrice){
  //     errors.push("Your discounted price must be lower than your full wholesale price.")
  //   }
  //   if(retailPrice <= fullPrice){
  //     errors.push("Your retail price must be higher than your full wholesale price.")
  //   }
  //   console.log(errors.length);
  //   console.log(errors.length > 0)
  //   if(errors.length > 0){
  //     var div = $('.front-end-validate')
  //     for (var i = 0; i < errors.length; i++) {
  //       var error = $('<h6>').text(errors[i])
  //       div.append(error)
  //     }
  //     $(this).find('.btn').prop('disabled', false)
  //     $(this).find('.btn').val('Create Product')
  //     e.preventDefault()
  //     return false
  //   }
  //   replaceWithGif($(this).find('.btn'))
  // })
</script>
