<div class="row">

<%= render partial: 'partials/wholesaler_profile_nav' %>

<div class="col s12 m9 offset-m2">
  <h4 class="center-align">Welcome, <%= current_user.first_name %>!</h4>

  <% if current_user.wholesaler.needs_stripe_connect? %>
  <div class="center-align col s10 offset-s1">
    <h5>Ready to take <%= current_user.company.company_name %> to the next level?</h5>
    <h5>First let's get you connected to our trusty payment processor; Stripe, so you can get paid!</h5>
    <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_8Y42Ug20wJITOMQzM5WvBYUjun4TpdHJ&scope=read_write&stripe_user[email]=<%= current_user.email %>&stripe_user[first_name]=<%= current_user.first_name %>&stripe_user[last_name]=<%= current_user.last_name %>">Connect with Stripe</a>
    <% if Rails.env == 'development' %>
    <% elsif Rails.env == 'production' %>
      <!-- <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_8Y42iyNmEsw1vdfJKOiphbNMsQZriYQc&scope=read_write&stripe_user[email]=<%= current_user.email %>&stripe_user[first_name]=<%= current_user.first_name %>&stripe_user[last_name]=<%= current_user.last_name %>">Connect with Stripe</a> -->
    <% end %>
  </div>

<% else %>

  <% if !current_user.wholesaler.needs_to_ship? && !current_user.wholesaler.needs_attention? %>
    <div class="row center-align">
      <h5>What are you waiting for? Post a new product</h5>
      <div class="col s6 m4 offset-s3 offset-m4">
        <label>Duration</label>
        <select id="duration-select">
          <option disabled="disabled" selected>Select Sale Duration</option>
          <option value="5_minutes">5 Minutes</option>
          <option value="1_day">1 Day</option>
          <option value="7_days">7 Days</option>
          <option value="10_days">10 Days</option>
          <option value="14_days">14 Days</option>
          <option value="30_days">30 Days</option>
        </select>
        <a id="start-new-product" class="btn btn-primary" href="#">Start Product</a>
      </div>
    </div>

  <% else %>

    <div class="center-align col s8 offset-s2">
      <% if current_user.wholesaler.needs_attention? %>
        <h5>Before you can post another product, you have to satisfy some products that need your attention!</h5>
        <h4><%= link_to 'Need Attention', '/needs_attention', :class => 'btn' %></h4>
      <% elsif current_user.wholesaler.needs_to_ship? %>
      <div class="row">
        <!-- <#% if !@receipts_to_generate.nil? %> -->
          <h5>Let's ship these orders and get paid!</h5>
          <h6>You cannot list any more sales until these items are shipped.</h6>
          <!-- <#%= link_to "Generate Receipts", '/needs_shipping.pdf', :class => 'btn btn-primary generate-receipts' %> -->
          <%= link_to "Generate Receipts", '/already_printed.pdf', :class => 'btn btn-primary generate-receipts' %>
          <h4><%= link_to 'Ship Orders', '/needs_shipping', :class => 'btn' %></h4>
        <!-- <#% else %>
          <h6>You have already generated all of your receipts, would you like to print them again?</h6>
          <h6>You must double check not to ship the same package twice</h6>
          <h6>These orders all have not yet been shipped</h6> -->
        <!-- <#% end %> -->
      </div>
      <% end %>
    </div>

  <% end %>
<% end %>

<% if current_user.wholesaler.declined_commits > 0 %>
  <div class="col s12 row center-align">
    <h6>*Note: <%= current_user.wholesaler.declined_commits  %> of your purchase orders have been declined because the retailer's card defaulted.</h6>
    <h6>We will keep an eye on this, and you will be notified shortly when this is resolved.</h6>
  </div>
<% end %>

</div>
</div>

<script>
  $('#duration-select').change(function(){
    var duration = $('#duration-select').val()
    $('#start-new-product').attr('href', '/new_product?duration=' + duration)
  })
  $('select').material_select()
</script>
