<div class="row">

  <%= render partial: 'partials/wholesaler_profile_nav' %>

  <div class="col s12 m8 l9 offset-m3 offset-l2 edit-order-box z-depth-2" style="margin-top: 25px">

    <h4>Settings</h4>
    <h6 class='green-text'><%= flash[:success] %></h6>
    <h6 class='red-text'><%= flash[:notice] %></h6>
    <% if !flash[:error].nil? %>
      <% flash[:error].each do |err| %>
        <h6 class='red-text'><%= err %></h6>
        <% end %>
    <% end %>
     <div class="row center-align">
      <%= form_tag('/api/wholesalers/update_account') do %>
      <div class="row">
        <div class="input-field">
          <div class="col s6">
            <%= label_tag "First Name" %>
            <input type="text" name="user[first_name]" value="<%= current_user.first_name%>">
            <!-- <#%= text_field_tag :first_name, :value => current_user.first_name, :id => 'first-name' %> -->
          </div>
        </div>
        <div class="input-field">
          <div class="col s6">
            <%= label_tag "Last Name" %>
            <input type="text" name="user[last_name]" value="<%= current_user.last_name%>">
            <!-- <#%= text_field_tag :last_name, :value => current_user.last_name, :id => 'last-name' %> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="input-field">
            <%= label_tag "Email (for signin and BlueBird use)" %>
            <input type="email" name="user[email]" value="<%= current_user.email %>">
            <!-- <#%= email_field_tag :email, :value => current_user.email, :id => 'email' %> -->
          </div>
        </div>
        <div class="col s6">
          <div class="input-field">
            <%= label_tag "Phone Number (for BlueBird use)" %>
            <input type="text" name="user[phone_number]" value="<%= current_user.phone_number %>">
            <!-- <#%= text_field_tag :phone_number, :value => current_user.phone_number, :id => 'phone-number' %> -->
          </div>
        </div>
      </div>

        <div class="input-field row">
          <%= submit_tag "Update Account", :class => 'btn' %>
        </div>
      <% end %>
    </div>

    <!-- <div class="row">
      <div class="col s12 m6">
        <div class="hide-on-med-and-up">
          <div class="s12 center-align">
            <a href="/settings/wholesaler/change_password" class='btn'>Change Password</a>
          </div>
        </div>
        <div class="hide-on-small-only left-align">
          <div class="m6">
            <a href="/settings/wholesaler/change_password" class='btn'>Change Password</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="hide-on-med-and-up">
          <div class="s12 center-align">
            <#%= link_to "Delete Account", user_path(current_user.id), method: :destroy, :class => 'btn red', data: {confirm: "Are you sure you want to delete your account?"} %>
          </div>
        </div>
        <div class="hide-on-small-only right-align">
          <div class="m6">
            <#%= link_to "Delete Account", user_path(current_user.id), method: :destroy, :class => 'btn red', data: {confirm: "Are you sure you want to delete your account?"} %>
          </div>
        </div>
      </div>
    </div> -->

    <div class="center-align row">
      <a href="/settings/wholesaler/change_password" class='btn'>Change Password</a>
    </div>
  </div>

</div>

<!-- <script>
  $('#contact-by-email').click(function(){
    var value = $(this).prop('checked')
    $.ajax({
      method: 'POST',
      url: '/api/wholesalers/contact_by_email?value=' + value,
      success: function(data){
        console.log(data);
        location.reload()
      }
    })
  })

  $('#contact-by-phone').click(function(){
    var value = $(this).prop('checked')
    $.ajax({
      method: 'POST',
      url: '/api/wholesalers/contact_by_phone?value=' + value,
      success: function(data){
        console.log(data);
        location.reload()
      }
    })
  })
</script> -->
