
<div class="text-center">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= image_tag @product.main_image, :style => 'width: 100%' %>
    </div>
  </div>
  <div class="row">
    <h2><%= @product.title.pluralize %> Shipments:</h2>
  </div>
  <% if @product.commits.where('shipping_id IS NULL').empty? %>

    <h3>All Orders Have Been Shipped! Woohoo! </h3>

  <% else %>

    <% @product.commits.where('shipping_id IS NULL').each do |commit| %>
      <div class="col-xs-6 col-xs-offset-3 border">
        <h4> Order #<%= commit.id %></h4>
        <h3><%= commit.amount %> orders to <%= commit.user.email %></h3>
        <%
          EasyPost.api_key = "sl7EFdaoEC2GaVf5qYjz0g"
          address = EasyPost::Address.retrieve(commit.user.shipping_addresses[0].address_id)
        %>
        <h4><%= address.street1 %></h4>
        <% if address.street2 != '' %>
          <h4><%= address.street2 %></h4>
        <% end %>
        <h4><%= address.city %>, <%= address.state %></h4>
        <h4><%= address.zip %></h4>
        <form class="enter-tracking" data="<%= commit.id %>">
          <input id="tracking-number" type="text">
          <input type="submit" value="Enter Tracking Number">
        </form>
      </div>
    <% end %>

  <% end %>
</div>

<script>
  $('.enter-tracking').submit(function(e){
    e.preventDefault()
    var form = $(this)
    var trackingNumber = form.find($('#tracking-number'))[0].value;
    var commitId = form.attr('data');
    createTracking(commitId, trackingNumber, form)
  })

  function createTracking(commitId, trackingNumber, form) {
    console.log(commitId);
    console.log(trackingNumber);
    $.ajax({
      method: 'POST',
      url: '/api/create_tracking?commit_id=' + commitId + '&tracking_number=' + trackingNumber,
      success: function(data){
        console.log(data);
        var trackingId = data.id
        saveTracker(commitId, trackingNumber)
        var shippedText = $('<h4>').text('Item has been shipped!')
        form.replaceWith(shippedText)
      }
    })
  }

  function saveTracker(commitId, trackingId) {
    $.ajax({
      method: 'POST',
      url: '/api/save_shipment?shipping_id=' + trackingId + '&commit_id=' + commitId,
      success: function(data) {
        console.log(data);
      }
    })
  }
</script>
