<div class="row">
  <div class="row">
    <h5 class='green-text success'></h5>
  </div>
  <div class="row center-align">
    <h4><%= @admin.user.full_name %></h4>
  </div>

  <% @applications.each_slice(2) do |slice| %>
    <div class="row">
      <% slice.each do |wholesaler| %>
        <div class="row border col s6 center-align">
          <h5><%= wholesaler.user.full_name %></h5>
          <h5><%= wholesaler.user.company.company_name %></h5>
          <h6><%= wholesaler.user.phone_number %></h6>
          <h6><%= wholesaler.user.email %></h6>
          <h6><%= wholesaler.user.company.website %></h6>
          <button class='approve-wholesaler btn' data='<%=wholesaler.id %>'>Approve</button>
        </div>
      <% end %>
  </div>
<% end %>

</div>

<script>
  $('.approve-wholesaler').click(function(){
    var wholesalerId = $(this).attr('data')
    var div = $(this).parent()
    $.ajax({
      method: 'POST',
      url: '/api/wholesalers/approve?id=' + wholesalerId,
      success: function(data){
        console.log(data);
        if(data.success) {
          $('.success').text(data.message)
          div.fadeOut()
        }
      }
    })
  })
</script>
