
<% @products.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |product| %>
      <div class="col s12 m6 l4 center-align no-padding" style="margin-top: 10px">
        <div class="product">
          <a href="/last_chance/<%= product.product_token.token %>/<%= product.slug %>">
              <%= image_tag product.main_image.url(:medium), :class => 'responsive-img main-prod-image' %>
              <div class="content-div" style='margin-bottom: 0px'>
                <% if product.has_variants? %>
                  <div class="row variant-images border" style='display: none; margin: 2px'>
                    <% product.product_variants.limit(3).each do |var| %>
                      <div class="col s4">
                        <%= image_tag var.image.url(:medium), :class => 'responsive-img sub-var-image' %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <h6 class="truncate no-margin"><strong><%= product.title.upcase %></strong></h6>
                <h6 class='truncate no-margin'>From <%= product.wholesaler.user.company.company_name %></h6>
                <% if product.featured %>
                  <!-- <span class='valign-wrapper center-block no-padding no-margin' style='margin: 0px'><img src="/images/bluebird-blue-mascot.png" style="height: 20px; display: inline-block" /> <h6 class='truncate bluebird-text' style='display: inline-block'>BlueBird Favorite!</h6></span> -->
                <% end %>
                <h6>
                  <span class="now-price"><%= product.average_full_price %></span>
                </h6>
              </div>
              <div class="description content-div" style='margin-top: 0px'>
                <p style='font-size: 12px' style='margin-top: 0px'>
                  <%= product.short_description %>
                </p>
              </div>
            </a>

          <div class="row">
            <% if product.is_users?(current_user) %>
              <%= product.result %>
            <% end %>
            <div class="<%= product.percentage["class"] %>">
              <span style="<%= product.percentage["progress_bar"] %>"><span></span></span>
            </div>
          </div>

            <div class="row" style="margin-bottom: 0px">
              <h6><%= product.time_to_full_price_expiration %></h6>
            </div>

          </div>
        </div>
    <% end %>
  </div>
<% end %>
