<div class="sub-nav-triangle">
</div>

<div class="navigation row no-margin z-depth-1" style="padding-top: 10px; margin: 0px">
  <div class="col s12 valign-wrapper main-nav">
    <div class="col s4 m2 offset-s4 valign">
      <a href="/shop">
        <img src="/images/bluebird-blue-text.png" alt="" class="responsive-img"/>
      </a>
    </div>
    <% if current_user.is_retailer? %>
      <div class="hide-on-med-and-up col s4 right-align valign">
        <a class='black-text account-side-nav-link button-collapse' data-activates="retailer-slide-out">
          <div class="nav-category-div" style="display: inline-block">
            <span class='nav-category bold'><i class='material-icons'>reorder</i></span>
          </div>
        </a>
      </div>
    <% elsif current_user.is_wholesaler? %>
      <div class="hide-on-med-and-up col s4 right-align valign">
        <a class='black-text account-side-nav-link button-collapse' data-activates="wholesaler-slide-out">
          <div class="nav-category-div" style="display: inline-block">
            <span class='nav-category bold'><i class='material-icons'>reorder</i></span>
          </div>
        </a>
      </div>
    <% end %>
    <div class="col s7 valign hide-on-small-only">
      <h6>
        <%
          items = {
            'DISCOVER' => '/discover',
            'ACCESSORIES' => '/accessories',
            'HOME GOODS' => '/home_goods',
            'APPAREL' => '/apparel',
            'TECH' => '/tech'
          }
          items.each do |name, url|
            link_class = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
        %>
          <a class="<%= link_class %>" href="<%= url %>">
            <div class='nav-category-div' style="display: inline-block">
              <span class="nav-category bold"><%= name %></span>
            </div>
          </a>
        <% end %>
      </h6>
      </div>
      <div class="offset-s4 offset-m1">
      <% if current_user.is_retailer? %>
        <h6>
          <div class="hide-on-small-only">
            <a class="black-text account-link" href="/retailer/pending_orders">
              <div class='nav-category-div' style="display: inline-block">
                <span class="nav-category bold">Account</span>
              </div>
            </a>
          </div>
        </h6>
      <% elsif current_user.is_wholesaler? %>
      <h6>
        <div class="hide-on-small-only">
          <a class="black-text account-link" href="/wholesaler/profile">
            <div class='nav-category-div' style="display: inline-block">
              <span class="nav-category bold">Account</span>
            </div>
          </a>
        </div>
      </h6>
      <% elsif current_user.is_admin? %>
        <h6>
          <div class="hide-on-small-only">
            <a class="black-text account-link" href="/admin">
              <div class='nav-category-div' style="display: inline-block">
                <span class="nav-category bold">Account</span>
              </div>
            </a>
          </div>
        </h6>
      <% end %>
    </div>
    <div class="col s1 hide-on-small-only valign nav-category-div">
      <a href="#" class="search nav-category"><i class=" nav-categorysmall material-icons black-text">search</i></a>
    </div>
  </div>
  <div class="row col s12 sub-nav-container">
    <div class="no-margin sub-nav discover-sub-nav">
      <h6 class="no-padding no-margin">
        <%
          items = {
            'FEATURED' => '/bluebird_choice',
            'BEST SELLERS' => '/best_sellers',
            'ENDING SOON' => '/ending_soon',
            'NEW ARRIVALS' => '/new_arrivals'
          }
          items.each do |name, url|
            link_class = request.fullpath.start_with?(url) ? 'active-sub-nav-category white-text' : 'white-text'
        %>
        <a href="<%=url%>">
          <div class='sub-nav-category nav-category-div center-align <%= link_class %>'>
            <%= name %>
          </div>
        </a>
        <% end %>
      </h6>
    </div>
    <% if current_user.is_retailer? %>
      <div class="no-margin sub-nav account-sub-nav">
        <h6 class="no-margin no-padding">
          <%
            items = {
              'LOGOUT' => '/logout',
              'SETTINGS' => '/retailer/settings',
              'SHIPPING INFORMATION' => '/retailer/shipping_addresses',
              'MANAGE PAYMENTS' => '/retailer/accounts',
              'ORDER HISTORY' => '/retailer/order_history',
              'PENDING ORDERS' => '/retailer/pending_orders'
            }
            items.each do |name, url|
              link_class = request.fullpath.start_with?(url) ? 'active-sub-nav-category' : 'white-text'
          %>
            <a href="<%= url %>">
              <div class='sub-nav-category nav-category-div center-align <%= link_class %>'>
                <%= name %>
              </div>
            </a>
          <% end %>
        </h6>
      </div>
    <% elsif current_user.is_wholesaler? %>
      <div class="no-margin sub-nav account-sub-nav">
        <h6 class="no-padding no-margin">
          <%
            items = {
              'LOGOUT' => '/logout',
              'MANAGE BANK ACCOUNT' => 'http://dashboard.stripe.com',
              'SETTINGS' => '/wholesaler/settings',
              # 'ANALYTICS' => '/analytics',
              'PAST PRODUCTS' => '/past_products',
              'CURRENT SALES' => '/current_sales',
              'COMPANY' => '/wholesaler/company',
              'SELL' => '/new_product',
              'PROFILE' => '/wholesaler/profile'
            }
            items.each do |name, url|
              link_class = request.fullpath.start_with?(url) ? 'active-sub-nav-category' : 'white-text'
          %>
          <a href="<%= url %>">
            <div class='sub-nav-category nav-category-div center-align <%= link_class %>'>
              <%= name %>
            </div>
          </a>
          <% end %>
        </h6>
      </div>
    <% end %>
  </div>
  <div class="search-sub-nav-container col s12">
    <div class="no-margin search-sub-nav">
      <form class='valign col s12'>
        <div class="input-field">
          <div class="col s1">
            <button type="submit" name="query" style='border: none; background: transparent'>
              <i class="small material-icons nav-category">search</i>
            </button>
          </div>
          <div class="col s10">
            <input type="text" name="query" placeholder="Search" id="search-input">
          </div>
          <div class="col s1 right-align">
              <a href="#" class='cancel-search black-text'>X</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ul id="wholesaler-slide-out" class="side-nav">
  <div class="userView center-align">
    <li><span class="bold"><%= current_user.full_name %></span></li>
    <li>
      <div class="row">
        <form class="col s10 offset-s1">
          <input type="text" name="query" placeholder="Search Page">
        </form>
      </div>
    </li>
  </div>
  <!-- PRODUCT STUFF  -->
  <li><div class="divider"></div></li>
  <%
    items = {
      'PROFILE' => '/wholesaler/profile',
      'SELL' => '/new_product',
      'COMPANY' => '/wholesaler/company',
      'CURRENT SALES' => '/current_sales',
      'PAST PRODUCTS' => '/past_products',
      # 'ANALYTICS' => '/analytics',
      'SETTINGS' => '/wholesaler/settings',
      'BANK ACCOUNT' => 'http://dashboard.stripe.com',
      'LOGOUT' => '/logout',
    }
    items.each do |name, url|
      link_class = request.fullpath.start_with?(url) ? 'active-nav-link' : 'black-text'
  %>
    <li><a class="<%= link_class %>" href="<%= url %>"><%= name %></a></li>
  <% end %>
</ul>

<ul id="retailer-slide-out" class="side-nav">
  <li><div class="userView">
    <a href="#!name"><%= current_user.full_name %></a>
  </div></li>
  <li>
    <div class="row">
      <form class="col s10 offset-s1">
        <input type="text" name="query" placeholder="Search Page">
      </form>
    </div>
  </li>
  <li><div class="divider"></div></li>
  <%
    items = {
      'PENDING ORDERS' => '/retailer/pending_orders',
      'ORDER HISTORY' => '/retailer/order_history',
      'MANAGE PAYMENTS' => '/retailer/accounts',
      'SHIPPING INFORMATION' => '/retailer/shipping_addresses',
      'SETTINGS' => '/retailer/settings',
      'LOGOUT' => '/logout',
    }
    items.each do |name, url|
      link_class = request.fullpath.start_with?(url) ? 'active-sub-nav' : 'black-text'
  %>
    <li><a class="<%=link_class %>" href="<%= url %>"><%= name %></a></li>
  <% end %>
</ul>

<script>

  $(".button-collapse").sideNav();

  function movePointer(position, width){
    var height = $('.main-nav').height() - 25
    $('.sub-nav-triangle').css({
      display: 'inherit',
      marginLeft: position.left + (width/2 - 5),
      marginTop: 47
    })
    $('.body-div').css({
      marginTop: 60
    })
  }

  function removePointer(){
    $('.sub-nav-triangle').css({
      display: 'none'
    })
  }

  function showSubNav(showDiv, hideDiv){
    $('.sub-nav-container').css({
      display: 'inherit'
    })
    $('.search-sub-nav').css({
      display: 'none'
    })
    hideDiv.css({
      display: 'none'
    })
    showDiv.css({
      display: 'inherit'
    })
  }

  $('a[href="/discover"]').mouseover(function(){
    movePointer($(this).offset(), $(this).width())
    showSubNav($('.discover-sub-nav'), $('.account-sub-nav'))
  })

  $('.account-link').mouseover(function(){
    movePointer($(this).offset(), $(this).width())
    showSubNav($('.account-sub-nav'), $('.discover-sub-nav'))
  })

  $('.search').click(function(){
    removePointer()
    $('.search-sub-nav-container').css({
      display: 'inherit'
    })
    $('.search-sub-nav').css({
      display: 'inherit'
    })
    $('.discover-sub-nav').css({
      display: 'none'
    })
    $('.account-sub-nav').css({
      display: 'none'
    })
    $('#search-input').focus()
  })

  $('.cancel-search').click(function(){
    $('.search-sub-nav-container').css({
      display: 'none'
    })
  })

  $('.body-div').mouseover(function(){
    $('.sub-nav-container').css({
      display: 'none'
    })
    removePointer()
  })
</script>
