
  <% @past_orders.each do |order| %>
    <% if order.status == 'live' %>
      <% link = "/products/#{order.product.id}/#{order.product.slug}" %>
    <% elsif order.status == 'past' || order.status == 'pending' %>
      <% link = "/retailer/order_history/not_reached/#{order.id}" %>
    <% elsif order.sale_made %>
      <% link = "/retailer/order_history/sale_made/#{order.id}" %>
    <% elsif order.refunded %>
      <% order_class = 'blocked-pointer' %>
      <% link = "#" %>
    <% end %>
    <a href="<%= link %>">
      <div class="row col s12 center-align order-row border black-text valign-wrapper <%= order_class %>">
        <div class="col m3 valign">
          <h6><%= order.uuid %></h6>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.title %></h6>
        </div>
        <div class="col m2 valign">
          <% if order.full_price? %>
            <h6><%= number_to_currency(order.amount.to_i*order.product.price) %></h6>
          <% else %>
            <h6><%= number_to_currency(order.amount.to_i*order.product.price_with_fee) %></h6>
          <% end %>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.wholesaler.user.company.company_name %></h6>
        </div>
        <div class="col m2 valign">
          <h6><%= order.current_status %></h6>
        </div>
      </div>
    </a>
  <% end %>
