
  <% @past_orders.each do |order| %>
    <% if order.product.status == 'live' %>
      <% link = "/products/#{order.product.id}-#{order.product.slug}" %>
    <% else %>
      <% link = "/retailer/order_history/#{order.id}" %>
    <% end %>
    <a href="<%= link %>">
      <div class="row col s12 center-align order-row border black-text valign-wrapper">
        <div class="col m3 valign">
          <h6><%= order.uuid %></h6>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.title %></h6>
        </div>
        <div class="col m2 valign">
          <% if order.full_price? %>
            <h6>$<%= '%.2f' % (order.amount.to_i*order.product.price.to_f) %></h6>
          <% else %>
            <h6>$<%= '%.2f' % (order.amount.to_i*order.product.discount.to_f) %></h6>
          <% end %>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.wholesaler.user.company.company_name %></h6>
        </div>
        <div class="col m2 valign">
          <% if order.product.status == 'live' %>
            <h6>Sale Still Live</h6>
          <% elsif order.product.status == 'goal_met' || order.product.status == 'discount_granted' || order.product.status == 'full_price' %>
            <h6>Sale Completed</h6>
          <% elsif order.product.status == 'not_met' %>
            <h6>Sale Not Made</h6>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
