
  <% @past_orders.each do |order| %>
    <a href="/retailer/order_history/<%= order.id %>">
      <div class="row col s12 center-align order-row border black-text valign-wrapper">
        <div class="col m3 valign">
          <h6><%= order.uuid %></h6>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.title %></h6>
        </div>
        <div class="col m2 valign">
          <% if order.full_price? %>
            <h6>$<%= '%.2f' % (order.amount.to_i*order.product.price.to_f) %></h6>
          <% else %>
            <h6>$<%= '%.2f' % (order.amount.to_i*order.product.discount.to_f) %></h6>
          <% end %>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.wholesaler.user.company.company_name %></h6>
        </div>
        <div class="col m2 valign">
          <h6><%= order.product.end_time.strftime('%b %d, %Y') %></h6>
        </div>
      </div>
    </a>
  <% end %>
