<div class="row products-nav">
  <div class="col s8 offset-s2">
    <div class="row">
      <% items = {
        "Home Goods" => "/home_goods",
        "Accessories" => "/accessories",
        "Apparel" => "/apparel",
        "Tech" => "/tech",
      }
      items.each do |name,root|
        divclass = request.fullpath.start_with?(root) ? 'active-nav-box' : 'nav-box'
    %>
      <div class="col s3">
        <a href="<%= root %>">
          <div class="<%=divclass %> center-align">
            <%= name %>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row products-nav">
  <div class="col s6 offset-s3">
    <div class="row">
      <%
        divs = {
          "Best Sellers" => "/best_sellers",
          "New Arrivals" => "/new_arrivals",
          "Ending Soon" => "/ending_soon",
        }
        divs.each do |name, root|
          divclass = request.fullpath.start_with?(root) ? 'active-nav-box' : 'nav-box'
      %>
        <div class="col s4">
          <a href="<%= root %>">
            <div class="<%=divclass %> center-align">
              <%= name %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
