<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "Order History", retailer_order_history_path %></li>
    <li><%= link_to "Manage Payments", retailer_accounts_path %></li>
    <li><%= link_to "Logout", sessions_path, method: :delete %></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/shop" class="brand-logo">BlueBird.club</a>
      <ul class="right hide-on-med-and-down">
          <li><%= link_to "Home", shop_path %></li>
          <li><%= link_to "Profile", retailer_path %></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>
