<!-- <div class="col s12 border zoom-hover">
  <img src="/images/bluebird-blue-text.png" class='responsive-img zoom-hover' />
</div> -->
<%
  header_products = Product.where("status = 'live'").limit(4)
-%>
<script>
  $(document).ready(function(){
    $('.slides').fadeIn()
  })
</script>

<div class="col s12 slider-div">
  <div class="slider">
    <ul class="slides" style='display: none'>
      <% header_products.each do|product| %>
        <li class='slide'>
          <a href="/products/<%=product.id %>/<%=product.slug %>">
            <%= image_tag product.main_image.url(:medium), :style => 'height: 100%' %>
            <!-- <#%= image_tag Product.where("status = 'live'").last.main_image.url(:large), :class => 'responsive-img' %> -->
            <div class="caption center-align">
              <h3><%= product.title %></h3>
              <h5 class="light grey-text text-lighten-3"><%= product.description %></h5>
            </div>
          </a>
        </li>
      <% end %>
      <!-- <li>
        <img src="http://lorempixel.com/580/250/nature/2">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> -->
    </ul>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
  });
</script>
