<% if !@company_products.empty? %>
<div class="row other-products z-depth-1">
  <h5><a href="/company/<%= @product.wholesaler.user.company.id %>/<%= @product.wholesaler.user.company.company_key %>" class='black-text link'>More products from <%= @product.wholesaler.user.company.company_name %>:</a></h5>
    <% @company_products.each do |product| %>
    <div class="col s12 m6 l4 center-align no-padding">
      <div class="product hoverable">
        <a href="/products/<%= product.id %>/<%= product.slug %>">
          <div class="col s3 m1 white-text percent-box">
            <h5><%= '%.0f' % (product.percent_discount_with_fee*100) %>% Off</h5>
          </div>
            <%= image_tag product.main_image.url(:medium), :class => 'responsive-img main-prod-image' %>
            <div class="content-div" style='margin-bottom: 0px'>
              <% if product.has_variants? %>
                <div class="row variant-images border" style='display: none; margin: 2px'>
                  <% product.product_variants.limit(3).each do |var| %>
                    <div class="col s4">
                      <%= image_tag var.image.url(:medium), :class => 'responsive-img sub-var-image' %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <h6 class="truncate no-margin"><strong><%= product.title.upcase %></strong></h6>
              <h6 class='truncate no-margin'>From <%= product.wholesaler.user.company.company_name %></h6>
              <% if product.featured %>
                <!-- <span class='valign-wrapper center-block no-padding no-margin' style='margin: 0px'><img src="/images/bluebird-blue-mascot.png" style="height: 20px; display: inline-block" /> <h6 class='truncate bluebird-text' style='display: inline-block'>BlueBird Favorite!</h6></span> -->
              <% end %>
              <h6>
                <span class="was-price no-margin"><%= product.average_full_price %></span>
                <span class="now-price"><strong><%= product.average_discount_price %></strong></span>
              </h6>
            </div>
            <div class="description content-div" style='margin-top: 0px'>
              <p style='font-size: 12px' style='margin-top: 0px'>
                <%= product.short_description %>
              </p>
            </div>
          </a>

          <% if product.is_users?(current_user) %>
            <h6><%= product.result %></h6>
          <% end %>
          <div class="<%= product.progress_class%>">
            <span style="<%= product.progress_bar_style %>"><span></span></span>
          </div>

          <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m6">
              <h6><strong><%= '%.0f' % product.percent_to_discount %>%</strong><br> to discount</h6>
            </div>
            <div class="col s12 m6">
              <h6><%= product.time_to_expiration %></h6>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if !@similar_products.empty? %>
<div class="row other-products z-depth-1">
  <h5>Similar Products:</h5>
    <% @similar_products.each do |product| %>
    <div class="col s12 m6 l4 center-align no-padding">
      <div class="product hoverable">
        <a href="/products/<%= product.id %>/<%= product.slug %>">
          <div class="col s3 m1 white-text percent-box">
            <h5><%= '%.0f' % (product.percent_discount_with_fee*100) %>% Off</h5>
          </div>
            <%= image_tag product.main_image.url(:medium), :class => 'responsive-img main-prod-image' %>
            <div class="content-div" style='margin-bottom: 0px'>
              <% if product.has_variants? %>
                <div class="row variant-images border" style='display: none; margin: 2px'>
                  <% product.product_variants.limit(3).each do |var| %>
                    <div class="col s4">
                      <%= image_tag var.image.url(:medium), :class => 'responsive-img sub-var-image' %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <h6 class="truncate no-margin"><strong><%= product.title.upcase %></strong></h6>
              <h6 class='truncate no-margin'>From <%= product.wholesaler.user.company.company_name %></h6>
              <% if product.featured %>
                <!-- <span class='valign-wrapper center-block no-padding no-margin' style='margin: 0px'><img src="/images/bluebird-blue-mascot.png" style="height: 20px; display: inline-block" /> <h6 class='truncate bluebird-text' style='display: inline-block'>BlueBird Favorite!</h6></span> -->
              <% end %>
              <h6>
                <span class="was-price no-margin"><%= product.average_full_price %></span>
                <span class="now-price"><strong><%= product.average_discount_price %></strong></span>
              </h6>
            </div>
            <div class="description content-div" style='margin-top: 0px'>
              <p style='font-size: 12px' style='margin-top: 0px'>
                <%= product.short_description %>
              </p>
            </div>
          </a>

        <div class="row">
          <% if product.is_users?(current_user) %>
            <%= product.result %>
          <% end %>
          <div class="<%= product.progress_class%>">
            <span style="<%= product.progress_bar_style %>"><span></span></span>
          </div>
        </div>

          <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m6">
              <h6><strong><%= '%.0f' % product.percent_to_discount %>%</strong><br> to discount</h6>
            </div>
            <div class="col s12 m6">
              <h6><%= product.time_to_expiration %></h6>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
