<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h5>Your order is on it's way, <%= @user.first_name %>!</h5>

    <div class="center-align">
      <div class="row">
        <h5>The shipping carrier is <%= @tracking_carrier %></h5>
        <h5>Your tracking number: <%= @tracking_code %></h5>
        <h5>Estimated Delivery Date: <%= @tracking_delivery_date %></h5>
        <h6>For more information: <%= @tracking_url %></h6>
      </div>
      <div class="row">
        <h5>
          As always, if you have any questions, feel free to reach out.
        </h5>
      </div>
      <div class="row">
        Your friends, <br>
        BlueBird.club
      </div>
    </div>


  </body>
</html>
