<div class="center-align row">
  <!-- <#% if Time.now < @user.password_reset_expiration %> -->

  <div class="row col s8 offset-s2">
    <div class="row col s12">
      <h4>Reset Password for <%= @user.email %></h4>
    </div>
    <div class="row col s12">
      <% errors = [] %>
      <% if flash[:error] %>
        <% flash[:error].each do |err| %>
          <% if !errors.include?(err) %>
            <% errors.push(err) %>
            <h6 class="red-text"><%= err %></h6>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col s12">
      <%= form_for @user, url: "/users/password_reset/#{@user.id}", method: 'PUT' do |f| %>
        <div class="input-field">
          <%= f.label "New Password" %>
          <%= f.password_field :password %>
        </div>
        <div class="input-field">
          <%= f.label "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit "Update Password", :class => 'btn' %>
      <% end %>
    </div>
  </div>

  <!-- <$% else %> -->

    <!-- <h5>Looks like your time frame to reset your password has expired.</h5>
    <button class="send-again btn">Send a new reset email</button> -->

  <!-- <#% end %> -->
</div>
