<div class="center-align row">
  <!-- <#% if Time.now < @user.password_reset_expiration %> -->

  <div class="row col s8 offset-s2">
    <div class="row">
      <h4>Reset Password for <%= @user.email %></h4>
    </div>
    <% if flash.now[:error] %>
      <% flash.now[:error].each do |err, msg| %>
        <h6 class="red-text"><%= msg %></h6>
      <% end %>
    <% end %>
    <%= form_for @user, url: "/users/password_reset/#{@user.id}", method: 'PUT' do |f| %>
      <div class="input-field">
        <%= f.label "New Password" %>
        <%= f.password_field :password %>
      </div>
      <%= f.submit "Update Password", :class => 'btn' %>
    <% end %>
  </div>

  <!-- <$% else %> -->

    <!-- <h5>Looks like your time frame to reset your password has expired.</h5>
    <button class="send-again btn">Send a new reset email</button> -->

  <!-- <#% end %> -->
</div>
