<div style="text-align:center">
  <h2><%= @user.email %> Store Front</h2>
</div>

<% @user.batches.each do |batch| %>
  <% batch.products.each do |product| %>
    <div style="border:1px solid black; text-align:center">
      <h2> <%= product.title %> </h2>
      <h3> Original Wholesale Price: <%= product.price %> </h3>
      <h3> Potential Discounted Price:  </h3>

      <h2><%= link_to product.title, product_path(product.id) %></h2>
      <h3>$<%= product.price %></h3>
      <h4><%= product.description %></h4>
      <% milestone_goal = nil %>
      <% product.milestones.each do |milestone| %>
        <h5>Goal: $<%= milestone_goal = milestone.goal %></h5>
        <h5>Discount: <%= milestone.discount %></h5>
      <% end %>
      <% total_commit_amount = 0 %>
      <% product.commits.each do |commit| %>
        <% total_commit_amount += commit.amount.to_i %>
      <% end %>
      <h4> There has been $<%= total_commit_amount %> already committed to this product! </h4>
      <% percent_there = ('%.3f' % (total_commit_amount.to_f/product.batch.milestones[0].goal.to_i.to_f)) %>
      <h4> We're only <%= '%.2f' % ((1 - percent_there.to_f)*100) %>% away from the <%= product.batch.milestones[0].discount %>% deal! </h4>
      <% if current_user.user_type == 'retailer' %>
        <% users_commit = Commit.where('user_id = ? AND product_id = ?', current_user.id, product.id) %>
        <% if users_commit != [] %>
          <h3>You have already commited $<%= users_commit[0].amount %>, would you like to <%= link_to "edit that?", commit_path(users_commit[0].id) %> </h3>
        <% else %>
          <%= form_for Commit.new do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :product_id, :value => product.id %>
            <%= f.label :amount %>
            <%= f.number_field :amount %> <br>
            <%= f.button "Commit to purchase #{product.title}" %>
          <% end %>
          <!-- Closes users_commit if -->
        <% end %>
        <!-- Closes if user == retailer -->
      <% end %>
    </div>
    <% end %>
  <% end %>
