<%= render partial: 'partials/signed_out_nav' %>

<body id="signup-body">

  <div class="container center-align">
    <div class="col s4 offset-s4">
      <div class="row">
        <div class="col s8 offset-s2">
          <img src="/images/bluebird-blue-text.png" alt="" class="responsive-img" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card center white-text z-depth-5" id='login-container'>
          <div class="card-content white-text">
            <span class="card-title white-text" id='logo'>Sign Up</span>
            <div class="row">
              <div class="input-field col s12" id='login-content' style="color:black">
                <%= form_for User.new do |f| %>
                  <div class="input-field">
                    <%= f.label "First Name", :class =>'white-text' %>
                    <%= f.text_field :first_name, :class =>'white-text' %>
                  </div>
                  <div class="input-field">
                    <%= f.label "Last Name", :class =>'white-text' %>
                    <%= f.text_field :last_name, :class =>'white-text' %>
                  </div>
                  <div class="input-field">
                    <label class="white-text">Company Name</label>
                    <input type="text" name="company[company_name]" class="white-text">
                  </div>
                  <div class="input-field">
                    <%= f.label :email, :class =>'white-text' %>
                    <%= f.text_field :email, :class =>'white-text' %> <br>
                  </div>
                  <div class="input-field">
                    <%= f.label :password, :class =>'white-text' %>
                    <%= f.password_field :password, :class =>'white-text' %> <br>
                  </div>
                  <div class="input-field">
                    <%= f.label "Confirm Password", :class => 'white-text' %>
                    <%= f.password_field :password_confirmation, :class => 'white-text' %> <br>
                  </div>
                    <input type="hidden" name="user_type" value="retailer">
                  <!-- <div class="input-field">
                    <select name="user_type" required class="white-text">
                      <option disabled="disabled" selected class="white-text">Select</option>
                      <option value="wholesaler" class="white-text">Wholesaler</option>
                      <option value="retailer" class="white-text">Retailer</option>
                    </select>
                  </div> -->
                  <div class="input-field">
                    <label class="white-text">Beta Code</label>
                    <input type="password" name="beta_code" class="white-text">
                  </div>
                  <div class="input-field">
                    <%= f.submit "Sign Up", :class => 'btn white black-text' %>
                  </div>
                <% end %>
              </div>
          </div>
            <div class="card-action white-text">
              <p>Already a user?</p>
              <a class='btn white black-text' href="/">Login!</a><br>
              <!-- <a class='btn btn-primary' href="/retailer_signup">Retailer Signup!</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $('select').material_select()
</script>

</body>
