<%= render partial: 'partials/retailer_profile_nav' %>

<div class="col s12 m8 offset-m3 center-align row">

  <div class="row col s12">
    <% if current_user.retailer.card_declined? %>
      <h6 class='red-text'>Looks like we had some trouble with your card you used for your order of <%= current_user.retailer.commits.where('card_declined = ?', true).first.product.title %> on <%= current_user.retailer.commits.where('card_declined = ?', true).first.card_decline_date.strftime('%b %d') %></h6>
      <h6><a href="/retailer/<%= current_user.retailer.declined_order %>/card_declined"></a></h6>
    <% end %>

    <% if @stripe_customer.default_source.nil? %>
        <div class="center-align row">
          <h5>You need a credit card on file before making any orders</h5>
        </div>
      <% else %>
        <div class="row col s12 order-box z-depth-2" style="margin-top: 25px">
          <div class="row center-align col s12 credit-card">
            <h6>(Primary Payment Form)</h6>
            <h5>Card Holder: <%= @default_card.name %></h5>
            <h6>Card Number: **** **** **** <%= @default_card.last4 %></h6>
            <h6> Zip: <%= @default_card.address_zip %></h6>
            <div class="row">
              <div class="left-align col s5 offset-s1">
                <h6>Expiration: <%= @default_card.exp_month %>/<%= @default_card.exp_year %> </h6>
              </div>
              <div class="right-align col s5">
                <h6><%= @default_card.brand %></h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% if @stripe_customer.sources.count > 1 %>
    <div class="row col s12 order-box z-depth-2 center-align">
      <h5>Alternate Credit Cards:</h5>
    <% @stripe_customer.sources.each_slice(3) do |slice| %>
      <div class="row">
        <% slice.each do |card| %>
          <% if card.id != @stripe_customer.default_source %>
            <div class="row col s12 m6">
              <div class="center-align credit-card white border">
                <h6>Card Holder: <%= card.name %></h6>
                <h6>Card Number: **** **** **** <%= card.last4 %></h6>
                <h6> Zip: <%= card.address_zip %></h6>
                <div class="row">
                  <div class="left-align col s5 offset-s1">
                    <h6>Expiration: <%= card.exp_month %>/<%= card.exp_year %> </h6>
                  </div>
                  <div class="right-align col s5">
                    <h6><%= card.brand %></h6>
                  </div>
                </div>
                <div class="links">
                  <a class='delete-card red-text waves-effect' data="<%= card.id %>">Delete</a><br><br>
                  <a class='make-default-card waves-effect' data="<%= card.id %>">Make Default</a>
                </div>
                <img src="/images/loading.gif" class='loading-gif' style="display: none" />
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <h6 class='red-text delete-error' style='display: none'>Cannot remove a card that has a pending order tied to it.</h6>
    <h6 class='red-text delete-error' style='display: none'><a class='delete-error-link' href="#"></a></h6>
  </div>
  <% end %>

</div>

<div class="row">
  <div class="col s12 m8 offset-m3 order-box z-depth-2">
    <form class="credit-card-form col s8 offset-s2 center-align" autocomplete="off">
      <div class="input-field">
        <label>Card Holder Name</label>
        <input id="card-name" type="text">
      </div>
      <div class="input-field">
        <label>Credit Card Number</label>
        <input id="card-number" type="text"> <br>
      </div>
      <div class="input-field">
        <label>CVC</label>
        <input id="card-cvc" type="text"> <br>
      </div>
      <div class="input-field">
        <div class="row">
          <div class="col s6 m4 offset-m2">
            <label>Exp Month</label>
            <input id="exp-month" type="number">
          </div>
          <div class="col s6 m4 offset-m2">
            <label>Exp Year</label>
            <input id="exp-year" type="number"> <br>
          </div>
        </div>
      </div>
      <div class="input-field">
        <label>Billing Zip Code</label>
        <input id="billing-zip" type="text" value="">
      </div>
      <h6 class="red-text" id="payment-errors"></h6>
      <input class="submit btn" type="submit" value="Add Payment">
    </form>
  </div>
</div>
