
<h2 class='center-align'>Manage Payments</h2>
<!-- <div class="text-center">
  <h3>Make a test charge on credit card:</h3>
  <button id="test-charge">Charge me $1.00</button>
</div> -->

<% if @stripe_customer.default_source.nil? %>
  <div class="text-center">
    <h3>You need your payment info!</h3>
    <label>Card Holder Name</label>
    <input id="card-name" type="text" value="" placeholder="John Smith">
    <label>Credit Card Number</label>
    <input id="card-number" type="text" value="" placeholder="**** **** **** ****"> <br>
    <label>CVC</label>
    <input id="card-cvc" type="text" value="" placeholder="123"> <br>
    <label>Exp Month</label>
    <input id="exp-month" type="number" value="" placeholder="01">
    <label>Exp Year</label>
    <input id="exp-year" type="number" value="" placeholder="2020"> <br>
    <label>Billing Zip Code</label>
    <input id="billing-zip" type="text" value="">
    <span id="payment-errors"></span> <br>
    <button id="create-card" name="button">Add Credit Card</button>
  </div>
<% else %>
<h4 class='center-align'>Current credit cards:</h4>
  <div class="row">
    <div class="row center-align col s6 offset-s3 border credit-card">
      <div class="right-align">
        <!-- <button class="delete-card btn red" id="<#%=source.id%>">X</button> -->
      </div>
      <h6>(Default Payment)</h6>
      <h4>Card Holder: <%= @default_card.name %></h4>
      <h5>Card Number: **** **** **** <%= @default_card.last4 %></h5>
      <h5> Zip: <%= @default_card.address_zip %></h5>
      <div class="row">
        <div class="left-align col s5 offset-s1">
          <h5>Expiration: <%= @default_card.exp_month %>/<%= @default_card.exp_year %> </h5>
        </div>
        <div class="right-align col s5">
          <h5><%= @default_card.brand %></h5>
        </div>
      </div>
    </div>
  </div>
  <% @stripe_customer.sources.each do |source| %>
    <% if source.id != @stripe_customer.default_source %>
      <div class="row">
        <div class="center-align col s6 offset-s3 border credit-card">
          <div class="row">
            <div class="col s4 left-align">
              <button class="make-primary btn" id="<%=source.id%>">Make Primary</button>
            </div>
            <div class="right-align col s2 offset-s10">
              <button class="delete-card btn red" id="<%=source.id%>">X</button>
            </div>
          </div>
          <h4>Card Holder: <%= source.name %></h4>
          <h5>Card Number: **** **** **** <%= source.last4 %></h5>
          <h5> Zip: <%= source.address_zip %></h5>
          <div class="row">
            <div class="left-align col s5 offset-s1">
              <h5>Expiration: <%= source.exp_month %>/<%= source.exp_year %> </h5>
            </div>
            <div class="right-align col s5">
              <h5><%= source.brand %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="center-align row">
    <h3>Add another form of payment</h3>
      <div class="col s6 offset-s3">
        <form>
          <div class="input-row">
            <label>Card Holder Name</label>
            <input id="card-name" type="text" value="" placeholder="John Smith">
          </div>
          <div class="input-row">
            <label>Credit Card Number</label>
            <input id="card-number" type="text" value="" placeholder="**** **** **** ****">
          </div>
          <div class="input-row">
            <label>CVC</label>
            <input id="card-cvc" type="text" value="" placeholder="123">
          </div>
          <div class="input-row">
            <label>Expiration</label>
          </div>
          <div class="input-row">
            <div class="col s5">
              <input id="exp-month" type="number" value="" placeholder="01">
            </div>
            <div class="col s1">
              <h5>/</h5>
            </div>
            <div class="col s6">
              <input id="exp-year" type="number" value="" placeholder="2020">
            </div>
          </div>
          <div class="input-row">
            <label>Billing Zip Code</label>
            <input id="billing-zip" type="text" value="" placeholder ="12345">
          </div>
          <div class="input-row">
            <span id="payment-errors"></span>
          </div>
          <div class="input-row">
            <button id="create-card" class="btn">Add Credit Card</button>
          </div>
        </form>
      </div>
    </div>
<% end %>

<script>
  $('#test-charge').click(function(){
    var xhttp = new XMLHttpRequest()
    xhttp.open("GET", "/api/charge_credit_card", true);
    xhttp.send();
    location.reload();
  })

  $('#create-card').click(function(){
      $("create-card").prop("disabled", true)
      $(this).text('One moment...')
      // var stripeCustomer = $('#stripe-customer').val();
      var cardName = $('#card-name').val();
      var cardNumber = $('#card-number').val();
      var cardCvc = $('#card-cvc').val();
      var expMonth = $('#exp-month').val();
      var expYear = $('#exp-year').val();
      var billingZip = $('#billing-zip').val()
      Stripe.card.createToken({
        // customer: stripeCustomer,
        name: cardName,
        number: cardNumber,
        cvc: cardCvc,
        exp_month: expMonth,
        exp_year: expYear,
        address_zip: billingZip
      }, stripeResponseHandler);
  })

  function stripeResponseHandler(status, response){
    if(response.error){
      $('#payment-errors').text(response.error.message)
      $('#create-card').prop("disabled", false)
    } else {
      var token = response.id;
      console.log(token);
      var xhttp = new XMLHttpRequest()
      // xhttp.onreadystatechange = function() {
      //   if (xhttp.readyState == 4 && xhttp.status == 200) {
      //     var json = JSON.parse(xhttp.responseText);
      //   }
      // }
      xhttp.open("GET", "/api/create_credit_card/" + token, true);
      xhttp.send();
      location.reload();
    }
  }
</script>
