<%= render partial: 'partials/retailer_profile_nav' %>

<div class="col s12 m9 offset-m2">

  <% if @stripe_customer.default_source.nil? %>
    <div class="center-align row">
      <h5>You need a credit card on file before making any orders</h5>

      <form class="credit-card-form col s8 offset-s2">
        <div class="input-field">
          <label>Card Holder Name</label>
          <input id="card-name" type="text">
        </div>
        <div class="input-field">
          <label>Credit Card Number</label>
          <input id="card-number" type="text"> <br>
        </div>
        <div class="input-field">
          <label>CVC</label>
          <input id="card-cvc" type="text"> <br>
        </div>
        <div class="input-field">
          <div class="row">
            <div class="col s4 offset-s1">
              <label>Exp Month</label>
              <input id="exp-month" type="number">
            </div>
            <div class="col s1">
              <h6>/</h6>
            </div>
            <div class="col s4">
              <label>Exp Year</label>
              <input id="exp-year" type="number"> <br>
            </div>
          </div>
        </div>
        <div class="input-field">
          <label>Billing Zip Code</label>
          <input id="billing-zip" type="text" value="">
        </div>
        <h6 class="red-text" id="payment-errors"></h6> <br>
        <input class="submit btn" type="submit" value="Add Credit Card" value="Add Credit Card">
        <!-- <input id="create-card" class='btn'>Add Credit Card</button> -->
      </form>

    </div>
  <% else %>
  <h4 class='center-align'><%= current_user.first_name %>'s credit card:</h4>
    <div class="row">
      <div class="row center-align col s8 offset-s2 border credit-card">
        <div class="right-align">
          <!-- <button class="delete-card btn red" id="<#%=source.id%>">X</button> -->
        </div>
        <h6>(Default Payment)</h6>
        <h5>Card Holder: <%= @default_card.name %></h5>
        <h6>Card Number: **** **** **** <%= @default_card.last4 %></h6>
        <h6> Zip: <%= @default_card.address_zip %></h6>
        <div class="row">
          <div class="left-align col s5 offset-s1">
            <h6>Expiration: <%= @default_card.exp_month %>/<%= @default_card.exp_year %> </h6>
          </div>
          <div class="right-align col s5">
            <h6><%= @default_card.brand %></h6>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12">
          <button class="delete-card btn red" data="<%= @default_card.id %>">Delete Card</button>
        </div>
      </div>
    </div>
  <% end %>

</div>

<script>
$(document).ready(function(){
  submitCard()
  deleteCard()
})

function deleteCard(){
  $('.delete-card').click(function(){
    $(this).prop('disabled', true)
    $(this).text('Deleting...')
    var cardId = $(this).attr('data')
    $.ajax({
      method: 'POST',
      url: '/api/delete_credit_card?card_id=' + cardId,
      success: function(data){
        console.log(data);
        location.reload()
      }
    })
  })
}

function submitCard(){
  $('form').submit(function(e){
      e.preventDefault()
      var form = $(this)
      var cardName = form.find($('#card-name')).val();
      var cardNumber = form.find($('#card-number')).val();
      var cardCvc = form.find($('#card-cvc')).val();
      var expMonth = form.find($('#exp-month')).val();
      var expYear = form.find($('#exp-year')).val();
      var billingZip = form.find($('#billing-zip')).val()
      var submitButton = form.find($('.submit'))
      submitButton.val('Saving Card...')
      submitButton.prop('disabled', true)
      console.log(cardName + ', ' + cardNumber);
      Stripe.card.createToken({
        // customer: stripeCustomer,
        name: cardName,
        number: cardNumber,
        cvc: cardCvc,
        exp_month: expMonth,
        exp_year: expYear,
        address_zip: billingZip
      }, stripeResponseHandler);
  })
}


function stripeResponseHandler(status, response){
  if(response.error){
    $('#payment-errors').text(response.error.message)
    $('.submit').prop("disabled", false)
    $('.submit').val('Add Credit Card')
    $('#billing-zip').val('')
    $('#exp-year').val('')
    $('#exp-month').val('')
    $('#card-cvc').val('')
    $('#card-number').val('')
    $('#card-name').val('')
  } else {
    var token = response.id;
    console.log(token);
    $.ajax({
      method: 'POST',
      url: '/api/create_credit_card/' + token,
      success: function(data) {
        console.log(data);
        location.reload()
      }
    })
  }
}

</script>
