<div class="row">

<%= render partial: 'partials/retailer_profile_nav' %>

  <div class="center-align col s12 m8 offset-m3 order-box z-depth-2" style="margin-top: 50px; padding: 25px">
    <h5>Change Password</h5>

    <%= form_for current_user, url: "/retailer/settings/change_password", method: 'PUT' do |f| %>
      <div class="input-field">
        <%= f.label "Old Password" %>
        <input type="password" name="old_password">
      </div>
      <div class="input-field">
        <%= f.label "New Password" %>
        <input type="password" name="user[password]">
        <!-- <#%= f.password_field :password] %> -->
      </div>
      <div class="input-field">
        <%= f.label "Confirm New Password" %>
        <input type="password" name="user[password_confirmation]">
        <!-- <#%= f.password_field :password_confirmation] %> -->
      </div>
      <div class="row">
        <%= f.submit "Update Password", :class => 'btn' %>
      </div>
      <a href="/forgot_password" class='btn-flat waves-effect'>Forgot Password</a>
    <% end %>

  </div>

</div>
