<%= render partial: 'partials/retailer_profile_nav' %>

<div class="center-align col s12 m10">
  <div class="row">
    <% if flash[:error] %>
      <% flash[:error].each do |err, msg| %>
        <h6 class="red-text"><%= msg %></h6>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <h6 class="green-text"><%= flash[:success] %></h6>
  </div>
  <%= form_for current_user, url: "/settings/retailer/change_password", method: 'PUT' do |f| %>
    <div class="input-field">
      <%= f.label "New Password" %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "Update Password", :class => 'btn' %>
  <% end %>
</div>
