<div class="row">

<%= render partial: 'partials/retailer_profile_nav' %>

  <div class="center-align col s12 m8 offset-m3 order-box z-depth-2" style="margin-top: 50px; padding: 25px">
    <h5>Change Password</h5>

    <% if flash[:error] %>
      <div class="row">
        <h6 class="red-text"><%= flash[:error] %></h6>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="row">
        <h6 class="green-text"><%= flash[:success] %></h6>
      </div>
    <% end %>

    <%= form_for current_user, url: "/retailer/settings/change_password", method: 'PUT' do |f| %>
      <div class="input-field">
        <%= f.label "Old Password" %>
        <input type="password" name="old_password">
      </div>
      <div class="input-field">
        <%= f.label "New Password" %>
        <input type="password" name="user[password]">
        <!-- <#%= f.password_field :password] %> -->
      </div>
      <div class="input-field">
        <%= f.label "Confirm New Password" %>
        <input type="password" name="user[password_confirmation]">
        <!-- <#%= f.password_field :password_confirmation] %> -->
      </div>
      <%= f.submit "Update Password", :class => 'btn' %>
    <% end %>

  </div>

</div>
