<div class="row center-align">

  <div class="row">
    <div class="left-align">
      <a href="/products/<%=@product.id%>/<%=@product.slug%>">Back to <%= @product.title%></a>
    </div>
    <h4><%= @product.title %> Purchase Order</h4>
    <h6><%= flash[:notice] %></h6>
    <h6 class='green-text'><%= flash[:success] %></h6>
    <h6 class='red-text'><%= flash[:error] %></h6>
    <h3>Product Current Sales: <%= number_to_currency(@product.current_sales) %></h3>
    <h3>Product Current Sales With Fees: <%= number_to_currency(@product.current_sales_with_fees) %></h3>
    <% commit = current_user.retailer.commits.find_by(:product_id => @product.id) %>
    <% if !commit.nil? %>
      <h3>Commit quantity: <%= commit.amount %></h3>
      <h3>Commit sales: <%= number_to_currency(commit.sale_amount) %></h3>
      <h3>Commit sales with fees: <%= number_to_currency(commit.sale_amount_with_fees) %></h3>
    <% end %>
  </div>

  <h5 class='green-text message'></h5>
  <div class="row border center-align">
    <div class="col s2 offset-s2">
      <h6 class='bold'>Product SKU</h5>
    </div>
    <div class="col s2">
      <h6 class='bold'>Wholesale Price</h6>
    </div>
    <div class="col s2">
      <h6 class='bold'>Suggested Retail Price</h6>
    </div>
    <div class="col s2">
      <h6 class='bold'>Order Amount (units)</h6>
    </div>
  </div>

  <form class="make-purchase-order" data-product="<%= @product.id %>" data-full-price>
    <% @product.skus.order(id: :asc).each do |sku| %>
      <div class="row" style='border-bottom: 1px solid black'>
        <% if sku.out_of_inventory? %>
          <h3 style='position: relative; background: rgba(140, 140, 140, 0.5); color: white; top: 35%; text-align: center; width: 100vw'>OUT OF INVENTORY</h3>
        <% end %>
        <div class="col s2 offset-s2">
          <h5><%= sku.description %></h5>
            <%= image_tag sku.image.url(:thumb), :class => 'responsive-img' %>
          <h6><%= sku.inventory %> in inventory</h6>
        </div>
        <div class="col s2">
          <h6 class='bold'><%= number_to_currency(sku.price) %></h6>
        </div>
        <div class="col s2">
          <h6 class='bold'><%= number_to_currency(sku.suggested_retail) %></h6>
        </div>
        <div class="col s2">
          <% if sku.user_ordered?(current_user) || !sku.out_of_inventory? %>
            <!-- <#% order = current_user.retailer.purchase_orders.where('sku_id = ?', sku.id) %> -->
            <input type="number" class='full-box-input purchase-order-amount' data-sku="<%= sku.id %>" placeholder="Order Amt" min="0">
            <!-- <#% if !order.empty? %>
              <a href='/api/orders/delete_purchase_order?order=<#%= order.first.id %>'><h6 class='black-text pointer'>X Remove Order</h6></a>
            <#% end %> -->
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="right-align">
      <div class=".errors"></div>
      <input type="submit" value="Make Purchase Order" class='btn submit'>
    </div>
  </form>

</div>
