<%= button_to "Shop", shop_path, method: :get %>
<%= button_to "Log Out", sessions_path, method: :delete %>
<%= button_to "Manage Payments", accounts_path, method: :get %>

<div class="text-center">
  <h2>Hello <%= current_user.email %>!</h2>
  <h3>Your Pending Purchase Orders: </h3>
</div>
<% @pending_orders.each do |commit| %>
  <div style="border:1px solid black; text-align:center">

    <% batch_sales = 0 %>
    <% commit.product.batch.products.each do |product| %>
      <% product.commits.each do |commit| %>
        <% batch_sales += commit.amount.to_f*commit.product.discount.to_f %>
      <% end %>
    <% end %>
    <% percent_away = '%.2f' % (100-(100*(batch_sales/commit.product.batch.milestones[0].goal.to_f))) %>
    <% if percent_away.to_f < 0 %>
      <% percent_away = 0 %>
    <% end %>
    <div class="row">
      <div id="status-bar" class="border col-xs-6 col-xs-offset-3">
        <div id="batch-progress" style="width:<%=100-percent_away.to_f %>%; background:green"></div>
      </div>
      <div class="col-xs-1">
        <h5><%= percent_away %>% away from your discount</h5>
      </div>
    </div>

    <h3>This product has up until <%= commit.product.batch.end_time.strftime('%l:%M %P') %> on <%= commit.product.batch.end_time.strftime('%B %d, %Y') %> to get enough purchase orders for your discount!</h3>
    <h3> <%= commit.amount %> orders(s) of <%= commit.product.title %> </h3>
    <h4> <%= commit.product.description %> </h4>
    <h3> Original wholesale price: $<%= commit.product.price %> </h3>
    <h3>Potential Discount: $<%= commit.product.discount %></h3>
    <h4> You committed to purchase <%= commit.amount %> orders worth of <%= commit.product.title %> </h4>
  </div>
<% end %>
