<div class="row">

  <%= render partial: 'partials/retailer_profile_nav' %>

  <div class="col s12 m9 offset-m2">

    <div class="col s12 row">
      <form class='col s6'>
        <div class="input-field">
          <div class="input-field">
            <input type="text" name="query" placeholder="Search" class='tooltipped' data-position="right" data-delay="0" data-tooltip="<h6>Search by Order #, product title, description, or company name.</h6>" style='cursor: text'>
          </div>
        </div>
        <input type="submit" value="Search" class='btn submit-button'>
      </form>
    </div>

  <div class="row">
    <h3>Order History:</h3>
  </div>
  <div class="row">
    <% if params[:query] %>
      <h6>Search results for "<%= params[:query] %>"</h6>
      <a href="<%= request.path %>">Clear</a>
    <% end %>
  </div>

  <div id="past-orders">
    <%= render partial: 'partials/past_orders' %>
  </div>

  <%= will_paginate @past_orders %>
  </div>

</div>

<script>
$(document).ready(function(){
  infiniteScroll()
  $('.tooltipped').tooltip({html: true});
  $('.tooltipped').each(function(index, element) {
    var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
    span.before($(element).attr('data-tooltip'));
    span.remove();
  });
})

function infiniteScroll(){
if($('.pagination').length){
  // console.log('pagination present...');
  $(window).scroll(function(){
    var url = $('.pagination .next_page').attr('href')
    if(url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
      $('.pagination').text("Loading...")
      // console.log('getting?');
      $.getScript(url)
    }
  })
}
}
</script>
