<div class="row center-align">

  <div class="row">
    <div class="col s11 offset-s1 left-align">
      <a href="/products/<%=@product.id%>/<%=@product.slug%>" class='btn-flat black-text waves-effect'><h6>< Back to <%= @product.title%></h6></a>
    </div>
  </div>
  <h4><%= @product.title %> Purchase Order</h4>

    <div class="new-order-content row col s12">
      <% if !@product.minimum_order.nil? %>
        <h6>Must order at least a minimum of <%= @product.minimum_order %> products</h6>
      <% end %>

      <!-- <form class="make-purchase-order" data-product="<#%= @product.id %>"> -->
      <table class='center row'>
        <tr class='border'>
          <th class='center-align'>Product SKU</th>
          <th class='center-align'>Full Wholesale Price</th>
          <th class='center-align'>Bluebird Discount Price</th>
          <th class='center-align'>Suggested Retail Price</th>
          <th class='center-align'>Order Amount</th>
        </tr>
        <%= form_for @commit do |f| %>
          <% @product.skus.order(id: :asc).each do |sku| %>
            <tr style='border-bottom: 1px solid black'>
              <td class='center-align'>
                <h6><%= sku.description %></h6>
                <%= image_tag sku.image, :style => 'width:150px; height:auto;', :class => 'hide-on-small-only' %>
                <h6><%= sku.display_inventory %></h6>
              </td>
              <td class='center-align'><%= number_to_currency(sku.price) %></td>
              <td class='center-align'>
                <div class="row">
                  <%= number_to_currency(sku.price_with_fee) %>
                </div>
                <div class="row">
                  <%= number_to_currency(sku.savings) %> Saved/unit
                </div>
              </td>
              <td class='center-align'><%= number_to_currency(sku.suggested_retail) %></td>
              <%= f.fields_for :purchase_order do |ff| %>
                <div class="input-field">
                  <%
                    if params[:edit] == 'true'
                      po = @commit.purchase_orders.find_by(:sku_id => sku.id)
                      quantity = po.nil? ? nil : po.quantity
                    end
                  %>
                  <td>
                    <div class="row">
                      <input type="number" name="[quantity][<%=sku.id%>]" class='full-box-input' placeholder='Order Quantity' value="<%=quantity%>">
                    </div>
                    <div class="row center-align">
                      <% if !po.nil? %>
                        <%= link_to "Delete Purchase Order", purchase_order_path(po), method: :delete, :class => 'red-text flat-btn waves-effect' %>
                      <% end %>
                    </div>
                  </td>
                </div>
              <% end %>
            </tr>
          <% end %>
        </table>
        <div class="row right-align">
          <input type="hidden" name="product_id" value="<%=@product.id%>">
          <% submit_value = params[:edit] == 'true' ? 'Update Order' : 'Make Order' %>
          <%= f.submit submit_value, :class => 'submit-button btn' %>
        </div>
      <% end %>
  </div>

</div>

<!-- <a class='btn-flat white black-text waves-effect' href="/api/orders/delete_commit?commit=<#%=@commit.uuid %>">Cancel Entire Order</a> -->
