<div class="row">

  <%= render partial: 'partials/retailer_profile_nav' %>

  <% if !@retailer.primary_address.nil? %>
    <div class="col s12 m7 offset-m3 center-align order-box z-depth-2" style="margin-top: 50px; padding: 25px">
      <h4><%= @retailer.user.first_name %>'s Primary Address:</h4>
      <div class="row">
        <h4><%= @retailer.primary_address.street_address_one.capitalize %></h4>
        <% if @retailer.primary_address.street_address_two != '' %>
        <h4><%= @retailer.primary_address.street_address_two.capitalize %></h4>
        <% end %>
        <h4><%= @retailer.primary_address.city.capitalize %>, <%= @retailer.primary_address.state %> <%= @retailer.primary_address.zip %></h4>
      </div>
    </div>
  <% end %>

  <% if @retailer.shipping_addresses.count > 1 %>
    <div class="col s12 m7 offset-m3 center-align order-box z-depth-2" style="margin-top: 50px; padding: 25px">
      <% @retailer.shipping_addresses.each_slice(2) do |slice| %>
        <div class="row">
          <% slice.each do |address| %>
            <% if address.id != @retailer.primary_address.id %>
              <div class="col s12 m6 white border">
                <h6><%= address.street_address_one %></h6>
                <% if address.street_address_two != '' %>
                  <h6><%= address.street_address_two %></h6>
                <% end %>
                <h6><%= address.city %>, <%= address.state %> <%= address.zip %></h6>
                <a class='pointer make-primary-address' data='<%= address.id %>'>Make Primary Address</a> <br>
                <a class='pointer delete-address red-text' data='<%= address.id %>'>Delete Address</a>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="address-errors">
      </div>
    </div>
  <% end %>

  <div class="col s12 m7 offset-m3 center-align order-box z-depth-2" style="margin-top: 50px; padding: 25px">
    <h5>Upload New Shipping Address</h5>
    <form class="add-shipping-address">
      <div class="input-field">
        <label>Street Address One</label>
        <input class="street-line-one" type="text">
      </div>
      <div class="input-field">
        <label>Street Address Two</label>
        <input class="street-line-two" type="text">
      </div>
      <div class="input-field">
        <label>City</label>
        <input class="city" type="text">
      </div>
      <div class="input-field">
        <label>State</label>
        <input class="state" type="text">
      </div>
      <div class="input-field">
        <label>Zip</label>
        <input class="zip" type="text">
      </div>
      <div class='errors-div'>
      </div>
      <div class="errors"></div>
      <input class="submit-address btn" type="submit" value="Create Address">
    </form>
  </div>

</div>
