<div class="row">

  <%= render partial: 'partials/retailer_profile_nav' %>

  <% if @retailer.shipping_addresses.count > 1 %>
    <div class="col s12 m7 offset-m3 center-align order-box z-depth-2" style="margin-top: 50px; padding: 25px">
      <% @retailer.shipping_addresses.each do |address| %>
        <div class="col s12 white border">
          <h6><%= address.street_address_one %></h6>
          <% if address.street_address_two != '' %>
            <h6><%= address.street_address_two %></h6>
          <% end %>
          <h6><%= address.city %>, <%= address.state %> <%= address.zip %></h6>
          <!-- <#%= link_to "Make Default Address", make_primary_shipping_address_path(address.id), method: :post %></br> -->
          <%= link_to "Delete Address", shipping_address_path(address.id), method: :delete, :class => 'red-text' %></br>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="col s12 m7 offset-m3 center-align order-box z-depth-2" style="margin-top: 50px; padding: 25px">
    <h5>Upload New Shipping Address</h5>
    <%= form_for @new_shipping_address do |f| %>
      <%= f.hidden_field :retailer_id, :value => current_user.retailer.id %>
      <div class="input-field">
        <%= f.label "Street Address One" %>
        <%= f.text_field :street_address_one %>
      </div>
      <div class="input-field">
        <%= f.label "Street Address Two" %>
        <%= f.text_field :street_address_two %>
      </div>
      <div class="input-field">
        <%= f.label "City" %>
        <%= f.text_field :city %>
      </div>
      <div class="input-field">
        <%= f.label "State" %>
        <%= f.text_field :state %>
      </div>
      <div class="input-field">
        <%= f.label "Zipcode" %>
        <%= f.text_field :zip %>
      </div>
      <%= f.submit "Add Address", :class => 'btn submit-button' %>
    <% end %>
  </div>

</div>
