<div class="row">

  <%= render partial: 'partials/retailer_profile_nav' %>

  <div class="col s12 m8 offset-m3">

    <% if @order.product.status == 'live' %>
      <div class="center-align">
        <h5 class='green-text message'><%= flash[:success] %></h5>
        <h5 class='red-text'><%= flash[:error] %></h5>
      </div>
      <div class="col s12 m4 center-align">
        <h5><%= @order.product.time_to_expiration %></h5>
        <%= image_tag @order.product.main_image.url(:medium), :class => 'responsive-img' %>
          <a href="/products/<%=@order.product.id%>/<%=@order.product.slug%>"><h4 class='bold black-text'><%= @order.product.title %></h4></a>
          <h6 class='green-text'><%= @order.product.discount_price_range %>/unit</h6>
          <div class="row">
            <h6>Ordered <%= @order.amount %> total units.</h6>
            <h6><%= number_to_currency(@order.sale_amount_with_fees) %> total</h6>
            <% @order.purchase_orders.each do |po| %>
              <h6><%= po.quantity %> <%= po.sku.description.pluralize %></h6>
            <% end %>
            <a href="#edit-order">Edit Order</a>
          </div>
        </div>
        <div class="col s12 m8 center-align">
          <div class="row" style="padding-top: 25px">
            <h6>Upon expiration, you would be charged from this credit card:</h6>
            <h6>**** **** **** <%= @commit_card.last4 %></h6>
            <h6><%= @commit_card.brand %></h6>
            <h6>Exp: <%= @commit_card.exp_month %>/<%= @commit_card.exp_year %></h6>
          </div>
          <div class="row">
            <h6>And shipped to this address:</h6>
            <h6><%= @order.shipping_address.street_address_one %></h6>
            <h6><%= @order.shipping_address.city %>, <%= @order.shipping_address.state %>, <%= @order.shipping_address.zip %></h6>
          </div>
        </div>
        <div class="row order-box">
          <div class="col s6 m4 center-align">
            <h6 class='bold'>Change Shipping Address:</h6>
            <a href="#new-address">New Address</a>
            <% if @order.retailer.shipping_addresses.count > 1 %>
              <% @order.retailer.shipping_addresses.each do |local_address| %>
                <% if local_address.id != @order.shipping_address_id %>
                <div class="border">
                  <h6><%= local_address.street_address_one %></h6>
                  <h6><%= local_address.city %>, <%= local_address.state %>, <%= local_address.zip %></h6>
                  <form class="change-address" data-commit="<%=@order.id%>">
                    <div class="input-field">
                      <input type="hidden" class="address-id" value="<%= local_address.id %>">
                    </div>
                    <input type="submit" value="Use Address" class='submit-link submit-button'>
                  </form>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col s6 m4 center-align">
            <h6 class='bold'>Change payment method:</h6>
            <a href="#new-payment">New Payment Method</a>
            <% if @stripe_customer.sources.count > 1 %>
              <% @stripe_customer.sources.each do |card| %>
                <% if card.id != @order.card_id %>
                <div class="border">
                  <h6><%= card.brand %></h6>
                  <h6>**** **** **** <%= card.last4 %></h6>
                  <h6>Exp: <%= card.exp_month %>/<%= card.exp_year %></h6>
                  <form class='change-payment' data-commit="<%=@order.uuid%>">
                    <div class="input-field">
                      <input type="hidden" class='card_id' value="<%= card.id %>">
                    </div>
                    <input type='submit' class="submit-link submit-button" value="Use Card" />
                  </form>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row order-box center-align z-depth-1" id="new-address">
          <form class="add-shipping-address">
          <!-- <#%= form_tag('/api/shipping/create_shipping_address') do %> -->
            <div class="input-field">
              <label>Street Address One</label>
              <input class="street-line-one" type="text" name="street_one">
            </div>
            <div class="input-field">
              <label>Street Address Two</label>
              <input class="street-line-two" type="text" name="street_two">
            </div>
            <div class="input-field">
              <label>City</label>
              <input class="city" type="text" name="city">
            </div>
            <div class="input-field">
              <label>State</label>
              <input class="state" type="text" name="state">
            </div>
            <div class="input-field">
              <label>Zip</label>
              <input class="zip" type="text" name="zip">
            </div>
            <div class='errors-div'>
            </div>
            <div class="shipping-errors"></div>
            <input class="btn submit-button" type="submit" value="Add Address">
          <!-- <#% end %> -->
          </form>
        </div>

        <div class="row order-box center-align z-depth-1" id="new-payment">
          <form class="credit-card-form" autocomplete="off">
            <div class="input-field">
              <label>Card Holder Name</label>
              <input id="card-name" type="text">
            </div>
            <div class="input-field">
              <label>Credit Card Number</label>
              <input id="card-number" type="text"> <br>
            </div>
            <div class="input-field">
              <label>CVC</label>
              <input id="card-cvc" type="text"> <br>
            </div>
            <div class="input-field">
              <div class="row">
                <div class="col s6 m4 offset-m2">
                  <label>Exp Month</label>
                  <input id="exp-month" type="number">
                </div>
                <div class="col s6 m4 offset-m2">
                  <label>Exp Year</label>
                  <input id="exp-year" type="number"> <br>
                </div>
              </div>
            </div>
            <div class="input-field">
              <label>Billing Zip Code</label>
              <input id="billing-zip" type="text" value="">
            </div>
            <h6 class="red-text" id="payment-errors"></h6>
            <input class="submit btn" type="submit" value="New Payment">
          </form>
        </div>

        <div class="col s12 z-depth-2 order-box" id="edit-order">
          <form class="make-purchase-order" data-product="<%= @order.product.id %>">
            <div class="errors center-align"></div>
            <div class="row border center-align">
              <div class="col s3">
                <h6 class='bold'>Product SKU</h5>
                </div>
                <div class="col s2">
                  <h6 class='bold'>Full Wholesale Price</h6>
                </div>
                <div class="col s2">
                  <h6 class='bold'>BlueBird Discounted Price</h6>
                </div>
                <div class="col s2">
                  <h6 class='bold'>Suggested Retail Price</h6>
                </div>
                <div class="col s3">
                  <h6 class='bold'>Order Amount (units)</h6>
                </div>
              </div>
            <% @order.product.skus.order(id: :asc).each do |sku| %>
              <div class="row center-align" style='border-bottom: 1px solid black'>
                <% if sku.out_of_inventory? %>
                  <h3 style='position: relative; background: rgba(140, 140, 140, 0.5); color: white; top: 35%; text-align: center; width: 100%'>OUT OF INVENTORY</h3>
                <% end %>
                <div class="col s3">
                  <h5><%= sku.description %></h5>
                    <%= image_tag sku.image.url(:thumb), :class => 'responsive-img' %>
                  <h6><%= sku.inventory %> in inventory</h6>
                </div>
                <div class="col s2">
                  <h6 class='bold'><%= number_to_currency(sku.price) %></h6>
                </div>
                <div class="col s2">
                  <h6 class='bold'><%= number_to_currency(sku.price_with_fee) %></h6>
                </div>
                <div class="col s2">
                  <h6 class='bold'><%= number_to_currency(sku.suggested_retail) %></h6>
                </div>
                <div class="col s3">
                  <% if sku.user_ordered?(current_user) || !sku.out_of_inventory? %>
                    <% order = current_user.retailer.purchase_orders.where('sku_id = ?', sku.id) %>
                    <input type="text" class='full-box-input purchase-order-amount' data-sku="<%= sku.id %>" placeholder="Order Amt" value="<%= order.empty? ? nil : order.first.quantity %>">
                    <% if !order.empty? %>
                      <a href='/api/orders/delete_purchase_order?order=<%= order.first.id %>'><h6 class='black-text pointer'>X Remove Order</h6></a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="right-align">
              <input type="submit" value="Update Order" class='btn submit'>
            </div>
            <div class="left-align">
              <a class='btn-flat white black-text waves-effect' href="/api/orders/delete_commit?commit=<%=@order.uuid %>">Cancel Entire Order</a>
            </div>
          </form>
        </div>

    <% else %>
      <div class="col s12 row">
        <div class="center-align col s3 border z-depth-1" style="float: right">
          <h6>Subtotal: <%= number_to_currency(@order.sale_amount_with_fees) %></h6>
          <% if @order.shipping_amount.nil? %>
            <h6 style='border-bottom: 1px solid black'>Shipping: Calculated on Departure</h6>
          <% else %>
            <h6 style='border-bottom: 1px solid black'>Shipping: <%= number_to_currency(@order.shipping_amount) %></h6>
          <% end %>
          <h6 class='bold'>Order Total: <%= number_to_currency(@order.price_with_shipping) %></h6>
          <% if !@order.full_price? %>
            <h6 class='green-text'><%=number_to_currency(@order.amount_saved)%> in savings.</h6>
          <% end %>
        </div>
        <% @order.purchase_orders.each do |order| %>
          <div class="col s9 center-align" style='border-bottom: 1px solid black; float: left'>
            <div class="col s4 left-align">
              <h6 class='bold'><%= order.sku.description %></h6>
              <%= image_tag order.sku.image.url(:medium), :class => 'materialboxed thumbnail' %>
            </div>
            <div class="col s6">
              <h6><%= order.quantity %> orders<h6>
              <% sku_price = order.commit.full_price? ? order.sku.price : order.sku.price_with_fee %>
              <h6><%= number_to_currency(sku_price) %>/unit</h6>
            </div>
            <div class="col s2">
              <h6 class='bold'><%= number_to_currency(sku_price*order.quantity) %></h6>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if @order.shipping %>
          <div class="row">
            <%
              EasyPost.api_key = ENV['EASYPOST_API_KEY']
              shipping_info = EasyPost::Tracker.retrieve(@order.shipping.tracking_id)
            %>
            <h6>Tracking Code: <%= shipping_info.tracking_code %></h6>
            <h6>Estimate Delivery Date: <%= DateTime.parse(shipping_info.est_delivery_date).strftime('%B %d, %Y') %></h6>
            <h6>Currently In: <%= shipping_info.tracking_details.last.tracking_location.city %>, <%= shipping_info.tracking_details.last.tracking_location.state%> <%=shipping_info.tracking_details.last.tracking_location.zip %></h6>
            <h6><a href="<%= shipping_info.public_url %>" target="_blank">More Details</a></h6>
          </div>
        <% else %>
          <% if @order.sale_made %>
            <h6>Your order is yet to be shipped, you will be updated with the info when it is sent out!</h6>
          <% elsif @order.status == 'pending' %>
            <h6>This product did not meet its sale goal, therefore we are waiting on the wholesaler to make one of three choices:</h6>
            <ul>
              <li>1.) Grant the discounted price anyway, and proceed with the sale.</li>
              <li>2.) Extend the product another 10 days in hopes of reaching the goal.</li>
              <li>3.) Expire the product, in which the discount is not given, and you have the opportunity to by it for normal retail price</li>
            </ul>
            <h6>We will update you once the wholesaler has made their decision.</h6>
          <% elsif @order.product.full_price? && @order.product.product_token.expiration_datetime > Time.current %>
            <h5>This product did not hit the discount</h5>
            <h5>You can purchase it <a href ="/last_chance/<%= @order.product.product_token.token %>/<%= @order.product.slug %>">here for <%= number_to_currency(@order.product.price) %></a></h5>
          <% elsif @order.product.status == 'past' %>
            <h5>This product did not hit the discount.</h5>
          <% end %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>

</div>
