<div class="row">

  <%= render partial: 'partials/retailer_profile_nav' %>

  <div class="col s12 m8 offset-m3">

    <% if @order.product.is_live? %>
      <div class="row s12 order-box z-depth-2 center-align">
        <div class="col s4">
          <h5><%= @order.product.time_to_expiration %></h5>
          <%= image_tag @order.product.main_image.url(:medium), :class => 'responsive-img' %>
          <h4><a href="/products/<%=@order.product.id%>/<%=@order.product.slug%>" class="black-text link"><%= @order.product.title %></a></h4>
          <p><%= @order.product.short_description %></p>
        </div>
        <div class="col s8" style='margin-top: 30px'>
          <div class="row">
            <h6 class='bold'>Upon expiration, you would be charged from this credit card:</h6>
            <h6><%= @commit_card.name %></h6>
            <h6><%= @commit_card.brand %>: **** **** **** <%= @commit_card.last4 %></h6>
            <h6>Exp: <%= @commit_card.exp_month %>/<%= @commit_card.exp_year %></h6>
            <h6><a href="/commits/<%=@order.id%>/payment?edit=true">Edit Payment</a></h6>
          </div>
          <div class="row">
            <h6 class='bold'>And shipped to this address:</h6>
            <h6><%= @order.shipping_address.street_address_one %></h6>
            <h6><%= @order.shipping_address.city %>, <%= @order.shipping_address.state %>, <%= @order.shipping_address.zip %></h6>
            <h6><a href="/commits/<%=@order.id%>/shipping?edit=true">Edit Shipping</a></h6>
          </div>
        </div>
      </div>


      <div class="col s12 z-depth-2 order-box">
        <div class="row border center-align">
          <div class="col s3">
            <h6 class='bold'>Product SKU</h5>
            </div>
            <div class="col s2">
              <h6 class='bold'>Full Wholesale Price</h6>
            </div>
            <div class="col s2">
              <h6 class='bold'>BlueBird Discounted Price</h6>
            </div>
            <div class="col s3">
              <h6 class='bold'>Order Amount (units)</h6>
            </div>
            <div class="col s2">
              <h6 class='bold'>Subtotal</h6>
            </div>
          </div>
        <% @order.purchase_orders.order(id: :asc).each do |po| %>
          <div class="row center-align" style='border-bottom: 1px solid black'>
            <div class="col s3">
              <h5><%= po.sku.description %></h5>
                <%= image_tag po.sku.image.url(:thumb), :class => 'responsive-img' %>
            </div>
            <div class="col s2">
              <h6 class='bold'><%= number_to_currency(po.sku.price) %></h6>
            </div>
            <div class="col s2">
              <h6 class='bold'><%= number_to_currency(po.sku.price_with_fee) %></h6>
              <h6 class='bold'>(SRP: <%= number_to_currency(po.sku.suggested_retail) %>)</h6>
            </div>
            <div class="col s3">
              <h6 class='bold'><%= po.quantity %></h6>
            </div>
            <div class="col s2">
              <h6 class='bold'><%= number_to_currency(po.total_paid) %></h6>
              <h6 class='green-text bold'><%= number_to_currency(po.total_saved) %> saved</h6>
            </div>
          </div>
        <% end %>
        <div class="row right-align">
          <h5 class='bold'><%= number_to_currency(@order.sale_amount_with_fees) %></h5>
          <h5 class='bold green-text'><%= number_to_currency(@order.amount_saved) %> saved</h5>
        </div>
        <div class="row center-align">
          <a href="/products/<%=@order.product.id%>/<%=@order.product.slug%>/order?edit=true" class="btn-flat waves-effect">Edit Order</a>
        </div>

          <!-- <a class='btn-flat white black-text waves-effect' href="/api/orders/delete_commit?commit=<%=@order.uuid %>">Cancel Entire Order</a> -->
      </div>

    <% else %>
      <div class="col s12 row">
        <div class="center-align col s3 border z-depth-1" style="float: right">
          <h6>Subtotal: <%= number_to_currency(@order.sale_amount_with_fees) %></h6>
          <% if @order.shipping_amount.nil? %>
            <h6 style='border-bottom: 1px solid black'>Shipping: Calculated on Departure</h6>
          <% else %>
            <h6 style='border-bottom: 1px solid black'>Shipping: <%= number_to_currency(@order.shipping_amount) %></h6>
          <% end %>
          <h6 class='bold'>Order Total: <%= number_to_currency(@order.price_with_shipping) %></h6>
          <% if !@order.full_price? %>
            <h6 class='green-text'><%=number_to_currency(@order.amount_saved)%> in savings.</h6>
          <% end %>
        </div>
        <% @order.purchase_orders.each do |order| %>
          <div class="col s9 center-align" style='border-bottom: 1px solid black; float: left'>
            <div class="col s4 left-align">
              <h6 class='bold'><%= order.sku.description %></h6>
              <%= image_tag order.sku.image.url(:medium), :class => 'materialboxed thumbnail' %>
            </div>
            <div class="col s6">
              <h6><%= order.quantity %> orders<h6>
              <% sku_price = order.commit.full_price? ? order.sku.price : order.sku.price_with_fee %>
              <h6><%= number_to_currency(sku_price) %>/unit</h6>
            </div>
            <div class="col s2">
              <h6 class='bold'><%= number_to_currency(sku_price*order.quantity) %></h6>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if @order.shipping %>
          <div class="row">
            <%
              EasyPost.api_key = ENV['EASYPOST_API_KEY']
              shipping_info = EasyPost::Tracker.retrieve(@order.shipping.tracking_id)
            %>
            <h6>Tracking Code: <%= shipping_info.tracking_code %></h6>
            <h6>Estimate Delivery Date: <%= DateTime.parse(shipping_info.est_delivery_date).strftime('%B %d, %Y') %></h6>
            <h6>Currently In: <%= shipping_info.tracking_details.last.tracking_location.city %>, <%= shipping_info.tracking_details.last.tracking_location.state%> <%=shipping_info.tracking_details.last.tracking_location.zip %></h6>
            <h6><a href="<%= shipping_info.public_url %>" target="_blank">More Details</a></h6>
          </div>
        <% else %>
          <% if @order.sale_made %>
            <h6>Your order is yet to be shipped, you will be updated with the info when it is sent out!</h6>
          <% elsif @order.status == 'pending' %>
            <h6>This product did not meet its sale goal, therefore we are waiting on the wholesaler to make one of three choices:</h6>
            <ul>
              <li>1.) Grant the discounted price anyway, and proceed with the sale.</li>
              <li>2.) Extend the product another 10 days in hopes of reaching the goal.</li>
              <li>3.) Expire the product, in which the discount is not given, and you have the opportunity to by it for normal retail price</li>
            </ul>
            <h6>We will update you once the wholesaler has made their decision.</h6>
          <% elsif @order.product.full_price? && @order.product.product_token.expiration_datetime > Time.current %>
            <h5>This product did not hit the discount</h5>
            <h5>You can purchase it <a href ="/last_chance/<%= @order.product.product_token.token %>/<%= @order.product.slug %>">here for <%= number_to_currency(@order.product.price) %></a></h5>
          <% elsif @order.product.status == 'past' %>
            <h5>This product did not hit the discount.</h5>
          <% end %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>

</div>
