<div class="row">
  <div class="col s12 m5 center-align" style='margin-top: 50px'>
    <h5><%= @order.product.title %></h5>
    <h5><%= @order.product.description %></h5>
    <div class="col s8 offset-s2 m6 offset-m3 center-align">
      <%= image_tag @order.product.main_image.url(:large), :class => 'responsive-img' %>
    </div>
  </div>
  <div class="col s12 m7 center-align" style='margin-top: 50px'>
    <% if @order.status == 'past' %>
      <h6>This product did not reach it's sales goal, therefore your order was not made.</h6>
      <% if @order.product.product_token.expiration_datetime > Time.now %>
        <h6>You have until <%= @order.product.product_token.expiration_datetime.strftime('%l:%M %P on %B %d') %> to purchase it for <%= number_to_currency(@order.product.price) %></h6>
        <a href="/last_chance/<%= @order.product.product_token.token %>/<%= @order.product.slug %>" class='btn'>Purchase Here</a>
      <% end %>
    <% elsif @order.status == 'pending' %>
      <div class="row">
        <h5><%= @order.amount %> units x  <%= number_to_currency(@order.product.price_with_fee) %>/each</h5>
        <h5>Shipping: Calculated upon shipment departure.</h5>
        <hr/>
        <h5 class='bold'>Total: <%= number_to_currency(@order.total_price) %></h5>
      </div>
      <div class="row">
        <h5>This product did not reach the discounted price, we are now waiting for the wholesaler to either:</h5>
        <ul>
          <li>Grant the discount of <%= number_to_currency(@order.product.price_with_fee) %> and proceed with the sale</li>
          <li>Extend the product 10 more days, in hopes of reaching the discount (your purchase order will continue as planned)</li>
          <li>Expire the product, in which case you will have the opportunity to purchase for <%= number_to_currency(@order.product.price) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
