<div class="container" id='landing-container'>
  <div id="cover-photo">
    <div class="row">
      <div class="col s12">
        <div class="card white center" id='login-container'>
          <div class="card-content white-text">
            <span class="card-title" id='logo'>Title</span>
            <div class="row">
              <div class="input-field col s12" id='login-content'>
                <%= form_for User.new do |f| %>
                  <div class="input-field">
                    <%= f.label :email %>
                    <%= f.text_field :email %> <br>
                  </div>
                  <div class="input-field">
                    <%= f.label :password %>
                    <%= f.password_field :password %> <br>
                  </div>
                  <%= f.hidden_field :user_type, :value => 'retailer' %>
                  <div class="input-field">
                    <%= f.submit "Sign Up", :class => 'btn' %>
                  </div>
                <% end %>
              </div>
          </div>
            <% if flash[:error] %>
              <% flash[:error].each do |error| %>
                <p class = "error" style = "color: red"> <%= error %> </p>
              <% end %>
            <% end %>
            <div class="card-action">
              <a class="btn" href="/retailer_signup">Retailer Signup!</a>
              <a class="btn" href="/users">Log In!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
