<div class="row">

  <div class="row" style='margin-top: 25px'>
    <div class="col s12">
      <div class="hide-on-small-only border col m3 center-align">
        <%= image_tag @company.logo.url(:medium), :class => 'responsive-img' %>
        <h5><%= @company.company_name %></h5>
        <% if !@company.location.nil? %>
          <h6><i class='tiny material-icons'>location_on</i> <%= @company.location %></h6>
        <% end %>
        <p>
          <%= @company.bio %>
        </p>
        <% if @company.contact_email != '' && !@company.contact_email.nil? %>
          <div class="row">
            <h6><a href="mailto:<%=@company.contact_email%>"><i class='tiny material-icons'>email</i> <%=@company.contact_email%></a></h6>
          </div>
        <% end %>
        <% if @company.contact_number != '' && !@company.contact_number.nil? %>
          <div class="row">
            <h6><i class='tiny material-icons'>phone</i> <%=number_to_phone(@company.contact_number)%></h6>
          </div>
        <% end %>
      </div>
      <div class="col s12 m8">
        <%= render partial: 'partials/products' %>
      </div>
    </div>
  </div>

</div>

<script>
  $('.about-company').click(function(){
    animateScrollTo($('.company-bio'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top
    }, 700)
  }
</script>
