<div class="container">

  <div class="center-align row">
    <div class="company-logo-banner" style='background: url(<%= @company.logo.url(:large) %>)'>
      <div style='background: rgba(255, 255, 255, .8)'>
        <h3><%= @company.company_name %></h3>
        <h5 class='no-bottom-margin pointer about-company'>About Us</h5>
      </div>
    </div>

    <%= render partial: 'partials/products' %>
  </div>

  <% if @company.location || @company.bio %>
    <div class="company-bio row col s12 m6 offset-m3 border center-align">
      <% if @company.location %>
        <h5>Location: <%= @company.location %></h5>
      <% end %>
      <% if @company.bio %>
        <h5><%= simple_format(@company.bio) %></h5>
      <% end %>
    </div>
  <% end %>

</div>

<script>
  $('.about-company').click(function(){
    animateScrollTo($('.company-bio'))
  })

  function animateScrollTo(div) {
    $('html, body').animate({
      scrollTop: div.offset().top
    }, 700)
  }
</script>
