
<%= render partial: 'partials/shop_header' %>

<div class="container center-align">
  <%= render partial: 'partials/products_header' %>
  <div id ="products">
    <% if flash[:notice] %>
      <h5 class='red-text bold'><%= flash[:notice] %></h5>
    <% end %>
    <%= render partial: 'partials/products' %>
  </div>

  <%= will_paginate @products %>
</div>
