<div class="row" style='margin-top: 20px; padding: 20px'>
  <a href="/company/<%=@company.id%>/<%=@company.company_key%>" class='btn-flat waves-effect'>< Back to Store Front</a>
</div>

<div class='row'>
  <div class="hide-on-small-only border col m3 center-align">
    <%= image_tag @company.logo.url(:medium), :class => 'responsive-img' %>
    <h5><%= @company.company_name %></h5>
    <div class="row">
      <h6 class='bold'><%= (@company.user.wholesaler.rating/5)*100 %>% Rating</h6>
      <h6>(<%= @company.user.wholesaler.total_number_ratings%> total ratings)</h6>
      <a href="/company/<%=@company.id%>/<%=@company.company_key%>/ratings">View Ratings</a>
      <div class="star-ratings-css" style='margin: 0 auto'>
        <div class="star-ratings-css-top" style="width: <%=(@company.user.wholesaler.rating/5)*100%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div>
    </div>
    <% if !@company.location.nil? %>
      <h6><i class='tiny material-icons'>location_on</i> <%= @company.location %></h6>
    <% end %>
    <p>
      <%= @company.bio %>
    </p>
    <% if @company.contact_email != '' && !@company.contact_email.nil? %>
      <div class="row">
        <h6><a href="mailto:<%=@company.contact_email%>"><i class='tiny material-icons'>email</i> <%=@company.contact_email%></a></h6>
      </div>
    <% end %>
    <% if @company.contact_number != '' && !@company.contact_number.nil? %>
      <div class="row">
        <h6><i class='tiny material-icons'>phone</i> <%=number_to_phone(@company.contact_number)%></h6>
      </div>
    <% end %>
  </div>

  <div class="row col s12 m8" id="ratings">
    <%= render partial: 'partials/ratings' %>
  </div>

  <div class="row col s12 center-align">
    <%= will_paginate @ratings %>
  </div>

</div>
