<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>Your order is on it's way, <%= @user.first_name %>!</p>

    <p>You can expect your order(s) of:</p>
    <ul>
      <% @shipment.purchase_orders.each do |po| %>
        <li><%= po.quantity %> <%= po.product.title.pluralize %></li>
      <% end %>
    </ul>
    <p>To arrive on <%= @tracking_delivery_date %> (estimated)</p>

    <div class="center-align">
      <div class="row">
        <p>The shipping carrier is <%= @tracking_carrier %></p>
        <p>Your tracking number: <%= @tracking_code %></p>
        <p>For more information: <%= @tracking_url %></p>
      </div>
      <div class="row">
        <p>
          As always, if you have any questions, feel free to reach out.
        </p>
      </div>
      <div class="row">
        <p>
          Your friends, <br>
          BlueBird.club Team
        </p>
      </div>
    </div>


  </body>
</html>
