<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h5>Your order is on it's way, <%= @user.first_name %>!</h5>

    <h5>You can expect your order(s) of:</h5>
    <% @shipment.commits.each do |commit| %>
      <h5><%= commit.amount %> <%= commit.product.title.pluralize %></h5>
    <% end %>
    <h5>To arrive on <%= @tracking_delivery_date %> (estimated)</h5>

    <div class="center-align">
      <div class="row">
        <h5>The shipping carrier is <%= @tracking_carrier %></h5>
        <h5>Your tracking number: <%= @tracking_code %></h5>
        <h5>For more information: <%= @tracking_url %></h5>
      </div>
      <div class="row">
        <h5>
          As always, if you have any questions, feel free to reach out.
        </h5>
      </div>
      <div class="row">
        Your friends, <br>
        BlueBird.club Team
      </div>
    </div>


  </body>
</html>
