<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p><%= @user.first_name %>,</p>

    <div class="center-align col s8 offset-s2">
      <div class="row">
        <p>
          You're purchase order of <%= @product.title %> has a new life! <%= @product.user.company_name %> has decided to extend
          the product another 10 days in hopes of reaching their goal.
        </p>
        <p>
          You can keep an eye on it <a href="localhost:3000/products/<%=@product.id %>/<%=@product.slug %>">here</a>
        </p>
      </div>
      <div class="row">
        <p>
          Your friends, <br>
          BlueBird.club
        </p>
      </div>
    </div>


  </body>
</html>
