<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p><%= @user.first_name %>,</p>

    <div class="center-align">
      <div class="row">
        <p>
          Looks like your purchase order of <%= @product.title %> didn't hit its sales goal.
        </p>
      </div>
      <div class="row">
        <p>
          You now have 7 days to purchase <%= @product.title %> for the full wholesale price of $<%= @product.price %> by folling the link below.
        </p>
        <p>
          <a href="localhost:3000/full_price/<%= @product.product_token.token %>/<%= @product.slug %>">Purchase Here</a>
        </p>
      </div>
      <div class="row">
        <p>
          Your friends, <br>
          BlueBird.club
        </p>
      </div>
    </div>


  </body>
</html>
