<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h5><%= @user.first_name %>,</h5>

    <div class="center-align">
      <div class="row">
        <p>
          Your product <%= @commit.product.title %> on BlueBird.club has received a new purchase order for your full price of <%= '%.2f' % (@commit.product.price.to_f) %>.
        </p>
        <p>
          It is now your job to get this shipped to your customer as soon as possible! Below is the order breakdown.
        </p>
      </div>

      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Individual Price</th>
              <th>Shipping</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @commit.product.title %></td>
              <td><%= @commit.amount %></td>
              <td><%= number_to_currency(@commit.product.price.to_f) %></td>
              <td>Determined Upon Shipment</td>
              <td><%= number_to_currency(@commit.product.price.to_f*@commit.amount.to_i) %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <p>
          If you need any help with the process, don't hesitate to reach out to us.
        </p>
      </div>
      <div class="row">
        Your friends, <br>
        BlueBird.club
      </div>
    </div>
