<div style="text-align:center">
  <h2> <%= @batch.user.email %>'s batch! </h2>
  <h4 style="color: red"><%= flash[:error] %></h4>
  <% if @batch.start_time && @batch.end_time %>
    <h2>This batch is now live! You can no longer edit the contents</h2>
    <%= button_to "View Batch", batch_path(@batch.id), method: :get %>
    <h3>This sale will be ending at <%= @batch.end_time.strftime('%l:%M %P') %> on <%= @batch.end_time.strftime('%B %d, %Y') %></h3>
    <h3>You have set a goal to sell <%= @batch.milestones[0].goal %> products in <%= @batch.duration %> </h3>

    <% total_commit_amount = 0 %>
    <% total_commits = 0 %>
    <% @batch.products.each do |product| %>
      <% product.commits.each do |commit| %>
        <% total_commits += 1 %>
        <% total_commit_amount += commit.amount %>
      <% end %>
    <% end %>
    <% if total_commits == 0 %>
      <h4>You have not received any purchase orders yet, but be patient!</h4>
    <% else %>
      <h4>You have received <%= total_commits %><% if total_commits == 1 %> purchase order <% else %> purchase orders <% end %> for a total sale of $<%= total_commit_amount %></h4>
      <h4> You are <%= (total_commit_amount.to_f/@batch.milestones[0].goal.to_f) %> of the way towards your goal!</h4>
    <% end %>
  <% else %>
  <div id="current-duration">
    <h4>Once you are done creating this batch, retailers will have <%= @batch.duration %> to commit to a purchase order</h4>
    <button id="change-duration" type="button">Change Duration</button>
  </div>
  <div id="update-batch-form">
    <%= form_for @batch do |f| %>
      <%= f.label :duration %>
      <%= f.select :duration, :required => true do %>
        <% ['1 Day', '7 Days', '30 Days'].each do |a| %>
          <%= content_tag(:option, a, value: a,) %>
        <% end %>
      <% end %>
      <%= f.submit "Update Batch Duration" %>
    <% end %>
    <button id="cancel-batch-update" type="button">Cancel</button>
  </div>
</div>

<% if @batch.milestones.length == 0 %>
  <h4>You haven't set up any purchase milestones yet, before we proceed you must do so.</h4>
  <%= form_for Milestone.new do |f| %>
    <%= f.hidden_field :batch_id, :value => @batch.id %>
    <%= f.label "Sales Goal   $" %>
    <%= f.number_field :goal %> <br>
    <%= f.submit "Create Your Goal For This Batch!" %>
  <% end %>
<% else %>
  <h4>You have set up a goal to sell $<%= @batch.milestones[0].goal %> worth of product </h4>
  <% if @batch.products.length == 0 %>
    <h4> You haven't added any products to this batch yet, let's get on that!</h4>
  <% else %>
    <h4> You currently have <%= @batch.products.length %> <% if @batch.products.length == 1 %>product <%else%>products <%end %>in this batch. </h4>
  <% end %>
  <br>
  <%= form_for Product.new do |f| %>
    <%= f.hidden_field :batch_id, :value => @batch.id %><br>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <%= f.label "Original Wholesale Price" %>
    <%= f.number_field :price %> <br>
    <%= f.label "Discounted Price" %>
    <%= f.number_field :discount %> <br>
    <%= f.label :description %>
    <%= f.text_field :description %> <br>
    <%= f.label :category %>
    <%= f.text_field :category %> <br>
    <%= f.label "Main Photo" %>
    <%= f.file_field :main_image %> <br>
    <%= f.label "Photo Two" %>
    <%= f.file_field :photo_two %> <br>
    <%= f.label "Photo Three" %>
    <%= f.file_field :photo_three %> <br>
    <%= f.label "Photo Four" %>
    <%= f.file_field :photo_four %> <br>
    <%= f.label "Photo Five" %>
    <%= f.file_field :photo_five %> <br>
    <%= f.submit "Create Product" %>
  <% end %>
<% end %>


<br>

<% total_sales_price = 0 %>
<% @batch.products.each do |product| %>
  <div style="border: 1px solid black; text-align:center">
    <h4><%= product.title %> </h4>
    <%= image_tag product.main_image.url(:medium) %>
    <h4>Original Price $<%= product.price %></h4>
    <h4>Discounted Price $<%= product.discount %></h4>
    <h4><%= product.description %></h4>
    <h4><%= product.category %></h4>

    <% product.product_items.each do |product_item| %>
      <% total_sales_price += product_item.quantity*product.discount.to_f %>
      <h4> <%= product_item.description %>: <%= product_item.quantity %> products </h4>
    <% end %>

    <%= form_for ProductItem.new do |f| %>
      <%= f.hidden_field :product_id, :value => product.id %>
      <div class="row">
        <%= f.label "Product Item Description (optional)" %>
        <%= f.text_field :description %>
      </div>
      <div class="row">
        <%= f.label "Quantity for sale" %>
        <%= f.number_field :quantity %>
      </div>
      <div class="row">
        <%= f.submit "Create Inventory" %>
      </div>
    <% end %>

    <%= button_to "Remove Product From Batch?", product_path(product.id), method: :delete %>
  </div>
<% end %>
<% if @batch.milestones.length > 0 && @batch.products.length > 0 && total_sales_price >= @batch.milestones[0].goal.to_i %>
  <button id="complete-batch" data="<%=@batch.id %>" type="button">Complete and Post Batch</button>
<% end %>
<% end %>
<script>
  $('#change-duration').click(function(){
    $('#update-batch-form').toggle();
    $('#current-duration').toggle();
  })
  $('#cancel-batch-update').click(function(){
    $('#update-batch-form').toggle();
    $('#current-duration').toggle();
  })

  $('#complete-batch').click(function(batchId){
    var batchId = $(this).attr('data');
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
      if(xhttp.readyState == 4 && xhttp.status == 200){
        JSON.parse(xhttp.responseText);
      }
    }
    xhttp.open("GET", "/batches/" + batchId + "/complete_batch");
    xhttp.send();
    document.location.href = '/batches/' + batchId
  })
</script>
