<div class="row no-overflow">

  <div class="apply-body bluebird white-text center-align col s12 m6 valign-wrapper">
    <div class="valign col s12">
      <div class="row">
        <div class="col s4 grey-text">
          <h4>Step 1</h4>
          <h5>The Basics</h5>
        </div>
        <div class="col s4 grey-text">
          <h4>Step 2</h4>
          <h5>Your Business</h5>
        </div>
        <div class="col s4">
          <h4>Step 3</h4>
          <h5>Finishing Touches</h5>
        </div>
      </div>
      <div class="row col s8 offset-s2">
        <!-- <form method="post"> -->
        <%= form_for @user, url: "/signup/step3?uuid=#{@user.uuid}", method: 'POST' do |f| %>
          <% if !flash[:error].nil? %>
            <% flash[:error].each do |err| %>
              <h6 class='red-text'><%= err %></h6>
            <% end %>
          <% end %>
          <div class="input-field">
            <label>Email</label>
            <%= f.text_field :email %>
            <!-- <input type="email" name="user[email]"> -->
          </div>
          <div class="input-field">
            <label>Password</label>
            <%= f.password_field :password %>
            <!-- <input type="password" name="user[password]"> -->
          </div>
          <div class="input-field">
            <label>Confirm Password</label>
            <%= f.password_field :password_confirmation %>
            <!-- <input type="password" name="user[password_confirmation]"> -->
          </div>
          <input type="submit" value="Complete" class='btn white black-text'>
        <% end %>
      </div>
    </div>
  </div>

  <div class="apply-body col m6 hidden-on-small-only valign-wrapper">
    <div class="col s8 offset-s2 valign center-align">
      <div class="row">
        <h5>Skip over the sales reps, use BlueBird to reach your goals.</h5>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <img src="/images/vault.jpg" class='responsive-img circle'/>
        </div>
      </div>
    </div>
  </div>

</div>
