<div class="container">

  <div class="show-product">
    <div class="col 12 valign-wrapper">
      <div class="row">

        <div class="col s12 m6">

          <div class="title-box z-depth-1 center-align">
            <h4 id="timer" class='dark-bluebird-text bold'></h4>
          </div>

          <div class="image-box z-depth-1 valign">
            <% if current_user.is_retailer? %>
              <% users_orders = current_user.retailer.commits.where('product_id = ?', @product.id) %>
              <% if users_orders.any? %>
                <div class="edit-order center-align" style="display: none">
                  <div class="right-align no-padding" style="padding: 0">
                    <a class='cancel-edit btn-flat waves-effect' style="display: none">X</a>
                  </div>
                  <% @commit_card = @stripe_customer.sources.retrieve(users_orders[0].card_id) %>
                  <div class="row">
                    <%= form_for users_orders[0] do |f| %>
                      <div class="input-field">
                        <%= f.label "Order Amount" %>
                        <%= f.number_field :amount, :value => users_orders[0].amount %>
                      </div>
                      <%= f.submit "Update Order", :class => 'btn submit-button' %>
                    <% end %>
                  </div>
                  <div class="row">
                    <h6>Upon expiration, you would be charged from this credit card:</h6>
                    <h6>**** **** **** <%= @commit_card.last4 %></h6>
                    <h6><%= @commit_card.brand %></h6>
                    <h6>Exp: <%= @commit_card.exp_month %>/<%= @commit_card.exp_year %></h6>
                  </div>
                  <div class="row">
                    <h6>And shipped to this address:</h6>
                    <h6><%= current_user.retailer.primary_address.street_address_one %></h6>
                    <h6><%= current_user.retailer.primary_address.city %>, <%= current_user.retailer.primary_address.state %>, <%= current_user.retailer.primary_address.zip %></h6>
                  </div>
                  <div class="row">
                    <a href="/retailer/order_history/<%= users_orders[0].id %>">Edit</a>
                  </div>
                  <div class="row">
                    <%= button_to "Delete Purchase Order", commit_path(users_orders[0].id), method: :delete, :class => 'btn red' %> <br>
                  </div>
                </div>
              <% end %>
            <% end %>

            <div class="images">
              <div class="row">
                <div class="col s12">
                  <%= image_tag @product.main_image.url(:large), :class => 'responsive-img main-image materialboxed' %>
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <% if @product.photo_two.present? %>
                    <%= image_tag @product.photo_two.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_three.present? %>
                    <%= image_tag @product.photo_three.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_four.present? %>
                    <%= image_tag @product.photo_four.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_five.present? %>
                      <%= image_tag @product.photo_five.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col s12 m6">
          <div class="row center-align no-bottom-margin">

            <div class="info-box z-depth-1">
              <div class="row">
                <h5 class='bold'><%= @product.title %></h5>
                <a class='black-text' href="/company/<%=@product.wholesaler.user.company.company_key%>">
                  <h6>From <%= @product.wholesaler.user.company.company_name %></h6>
                </a>
                <% if @product.wholesaler.is_contactable? %>
                  <h6><a href="#" class='contact-info-toggle-on'>Contact</a></h6>
                  <div class="contact-info" style='display: none'>
                    <h6><a href="#" class='contact-info-toggle-off'>Done</a></h6>
                    <% if @product.wholesaler.contactable_by_phone %>
                      <h6><%= @product.wholesaler.user.phone_number %></h6>
                    <% end %>
                    <% if @product.wholesaler.contactable_by_email %>
                      <h6><a href="mailto:<%= @product.wholesaler.user.email %>"><%= @product.wholesaler.user.email %></a></h6>
                    <% end %>
                  </div>
                <% end %>
                <h6 class='was-price' style="display: inline-block">$<%= @product.price %></h6>
                <h6 class='now-price bold' style="display: inline-block">$<%= @product.discount %></h6>
              </div>

              <div class="row">
                <h6><%= simple_format(@product.long_description) %></h6>
              </div>

              <div class="row">
                <ul>
                  <li><%= @product.feature_one %></li>
                  <% if !@product.feature_two.nil? %>
                    <li><%= @product.feature_two %></li>
                  <% end %>
                  <% if !@product.feature_three.nil? %>
                    <li><%= @product.feature_three %></li>
                  <% end %>
                  <% if !@product.feature_four.nil? %>
                    <li><%= @product.feature_four %></li>
                  <% end %>
                  <% if !@product.feature_five.nil? %>
                    <li><%= @product.feature_five %></li>
                  <% end %>
                </ul>
              </div>

              <div class="row no-bottom-margin">
                <div class="<%= @product.percentage["class"] %>">
                  <span style="<%= @product.percentage["progress_bar"] %>"><span></span></span>
                </div>
                <div class="row col s12">
                  <div class="col s6">
                    <h6><%= '%.0f' % @product.percentage["percent_to_discount"] %>% to discount</h6>
                  </div>
                  <div class="col s6">
                    <h6><%= @product.time_to_expiration %></h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

            <% if current_user.is_retailer? %>
            <div class="row center-align">
              <div class="order-box z-depth-1">
                <% if !flash[:error].nil? %>
                  <% flash[:error].each do |err| %>
                    <h6 class='red-text'><%= err %></h6>
                  <% end %>
                <% end %>

                <% if current_user.retailer.needs_credit_card? %>
                  <h6><a href="/retailer/accounts">We need a credit card on file before you can make an order</a></h6>
                <% elsif current_user.retailer.needs_shipping_info? %>
                  <h6><a href="/retailer/shipping_addresses">We need your shipping info before you can make an order</a></h6>
                <% else %>

                <% users_orders = current_user.retailer.commits.where('product_id = ?', @product.id) %>
                <% if users_orders == [] %>
                  <h6>Minimum Order Amount: <%= @product.minimum_order %> products</h6>
                    <%= form_for Commit.new do |f| %>
                    <%= f.hidden_field :product_id, :value => @product.id %>
                    <%= f.hidden_field :full_price, :value => false %>
                    <%= f.hidden_field :retailer_id, :value => current_user.retailer.id %>
                    <div class="input-field">
                      <%= f.label "Order Quantity" %>
                      <%= f.number_field :amount, :minimum => @product.minimum_order %>
                    </div>
                    <%= f.button "Make Order", :class => 'btn submit-button' %>
                    <% end %>

                  <% elsif users_orders != [] %>
                    <h5>Ordered <%= users_orders[0].amount %></h5>
                    <h6>Credit Card to be charged: **** **** **** <%= @commit_card.last4 %> (<%=@commit_card.brand %>)</h6>
                    <button class='edit-order-button btn'>Edit</button>
                    <button class='cancel-edit' style='display: none'>Cancel Edit</button>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>

<% if !@company_products.empty? %>
<div class="row other-products z-depth-1">
  <div class="col s10 offset-s1 row">
    <h5><a href="/company/<%= @product.wholesaler.user.company.company_key %>">More products from <%= @product.wholesaler.user.company.company_name %></a></h5>
  </div>
    <% @company_products.each do |product| %>
      <div class="col s12 m4 center-align no-padding">
        <div class="product white">
          <%= link_to "/products/#{product.id}-#{product.slug}" do %>
            <div class="percent-box col s3 m1 white-text">
              <h6><%= '%.0f' % (product.percent_discount*100) %>% discount</h6>
            </div>
            <%= image_tag product.main_image.url(:medium), :class => 'responsive-img' %>
            <div class="content-div" style='margin-bottom: 0px'>
              <h6 class="truncate"><strong><%= product.title.upcase %></strong></h6>
              <h6 class='truncate'>From <%= product.wholesaler.user.company.company_name %></h6>
              <h6>
                <span class="was-price">Was $<%= product.price %></span>
                <span class="now-price"><strong>Now $<%= product.discount %></strong></span>
              </h6>
            </div>
            <div class="description content-div" style='margin-top: 0px'>
              <p style='font-size: 12px' style='margin-top: 0px'>
                <%= product.description %>
              </p>
            </div>
          <% end %>

          <div class="row">
            <div class="<%= product.percentage["class"] %>">
              <span style="<%= product.percentage["progress_bar"] %>"><span></span></span>
            </div>
            <div class="row col s12">
              <div class="col s6">
                <h6><%= '%.0f' % product.percentage["percent_to_discount"] %>% to discount</h6>
              </div>
              <div class="col s6">
                <h6><%= product.time_to_expiration %></h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if !@similar_products.empty? %>
<div class="row other-products z-depth-1">
  <div class="col s10 offset-s1 row">
    <h5>Similar Products</h5>
  </div>
    <% @similar_products.each do |product| %>
      <div class="col s12 m4 center-align no-padding">
        <div class="product white">
          <%= link_to "/products/#{product.id}-#{product.slug}" do %>
            <div class="percent-box col s3 m1 white-text">
              <h6><%= '%.0f' % (product.percent_discount*100) %>% discount</h6>
            </div>
            <%= image_tag product.main_image.url(:medium), :class => 'responsive-img' %>
            <div class="content-div" style='margin-bottom: 0px'>
              <h6 class="truncate"><strong><%= product.title.upcase %></strong></h6>
              <h6 class='truncate'>From <%= product.wholesaler.user.company.company_name %></h6>
              <h6>
                <span class="was-price">Was $<%= product.price %></span>
                <span class="now-price"><strong>Now $<%= product.discount %></strong></span>
              </h6>
            </div>
            <div class="description content-div" style='margin-top: 0px'>
              <p style='font-size: 12px' style='margin-top: 0px'>
                <%= product.description %>
              </p>
            </div>
          <% end %>

          <div class="row">
            <div class="<%= product.percentage["class"] %>">
              <span style="<%= product.percentage["progress_bar"] %>"><span></span></span>
            </div>
            <div class="row col s12">
              <div class="col s6">
                <h6><%= '%.0f' % product.percentage["percent_to_discount"] %>% to discount</h6>
              </div>
              <div class="col s6">
                <h6><%= product.time_to_expiration %></h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>

<script>
  $('.contact-info-toggle-on').click(function(){
    $(this).toggle()
    $('.contact-info').toggle()
  })

  $('.contact-info-toggle-off').click(function(){
    $('.contact-info-toggle-on').toggle()
    $('.contact-info').toggle()
  })

  $('.edit-order-button').click(function(){
    $(this).toggle()
    $('.cancel-edit').toggle()
    $('.images').fadeOut()
    setTimeout(function(){
      $('.edit-order').fadeIn()
    }, 400)
  })

  $('.cancel-edit').click(function(){
    $('.cancel-edit').toggle()
    $('.edit-order-button').toggle()
    $('.edit-order').fadeOut()
    setTimeout(function(){
      $('.images').fadeIn()
    }, 400)
  })

  $(document).ready(function(){
    changePayment()
    alternateImage()
    $('.materialboxed').materialbox();
    $('.product').mouseover(function(){
      $(this).attr('class', 'product z-depth-4')
    })
    $('.product').mouseout(function(){
      $(this).attr('class', 'product')
    })
    setTime()
    setInterval(timer, 1000);
  })

  function setTime(){
    var seconds = <%= @product.end_time - Time.now %>;
    var days        = Math.floor(seconds/24/60/60);
    var hoursLeft   = Math.floor((seconds) - (days*86400));
    var hours       = Math.floor(hoursLeft/3600);
    var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
    var minutes     = Math.floor(minutesLeft/60);
    var remainingSeconds = Math.floor(seconds % 60);
    if(minutes < 10) {
      minutes = "0" + minutes
    }
    if(hours < 10) {
      hours = "0" + hours
    }
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    document.getElementById('timer').innerHTML = days + ":" + hours + ":" + minutes + ":" + remainingSeconds;
  }

  var seconds = <%= @product.end_time - Time.now %>;
  function timer() {
    var days        = Math.floor(seconds/24/60/60);
    var hoursLeft   = Math.floor((seconds) - (days*86400));
    var hours       = Math.floor(hoursLeft/3600);
    var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
    var minutes     = Math.floor(minutesLeft/60);
    var remainingSeconds = Math.floor(seconds % 60);
    if(minutes < 10) {
      minutes = "0" + minutes
    }
    if(hours < 10) {
      hours = "0" + hours
    }
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    document.getElementById('timer').innerHTML = days + ":" + hours + ":" + minutes + ":" + remainingSeconds;
    if (seconds == 0) {
        location.reload()
    } else {
        seconds--;
    }
  }

  function changePayment(){
    $('.change-payment').submit(function(e){
      e.preventDefault()
      var cardId = $(this).find('.card_id').val()
      var commitId = $(this).find('.commit_id').val()
      $.ajax({
        method: 'POST',
        url: '/api/payments/change_commit_card?card_id=' +cardId+ '&commit_id=' +commitId,
        success: function(data){
          console.log(data);
          if(data.success){
            // location.reload()
          }
        }
       })
    })
  }

  // var mainImage = $('<img class = "responsive-img main-image materialboxed"/>')
  // mainImage.attr( "src" , "<%= image_path "#{@product.main_image.url(:large)}" %>" );
  // mainImage.load(function(){
  //   console.log('replaced...');
  //   $('.main-image').replaceWith(mainImage)
  // })
  //
  // if($('#photo-two')){
  //   var secondImage = $('<img class = "responsive-img alternate-image"/>')
  //   secondImage.attr("src" , "<%= image_path "#{@product.photo_two.url(:large)}" %>" );
  //   secondImage.load(function(){
  //     $('#photo-two').replaceWith(secondImage)
  //   })
  // }
  //
  // if($('#photo-three')){
  //   var secondImage = $('<img class = "responsive-img alternate-image"/>')
  //   secondImage.attr("src" , "<%= image_path "#{@product.photo_three.url(:large)}" %>" );
  //   secondImage.load(function(){
  //     $('#photo-three').replaceWith(secondImage)
  //   })
  // }
  //
  // if($('#photo-four')){
  //   var secondImage = $('<img class = "responsive-img alternate-image"/>')
  //   secondImage.attr("src" , "<%= image_path "#{@product.photo_four.url(:large)}" %>" );
  //   secondImage.load(function(){
  //     $('#photo-four').replaceWith(secondImage)
  //   })
  // }
  //
  // if($('#photo-five')){
  //   var secondImage = $('<img class = "responsive-img alternate-image"/>')
  //   secondImage.attr("src" , "<%= image_path "#{@product.photo_five.url(:large)}" %>" );
  //   secondImage.load(function(){
  //     $('#photo-five').replaceWith(secondImage)
  //   })
  // }

  function alternateImage(){
    $('.alternate-image').click(function(){
      var makeMain = $(this).attr('src')
      var makeAlternate = $('.main-image').attr('src')
      // $('.main-image').fadeOut()
      $('.main-image').attr('src', makeMain)
      $(this).attr('src', makeAlternate)
      //   $('.main-image').fadeIn()
    })
  }
</script>
