<div class="col-xs-12">
  <div class="row">
    <%= link_to "Shop", shop_path %>
  </div>

  <div class="row text-center">
    <h4>Expires <%= @product.batch.end_time.strftime('%l:%M %P') %> on <%= @product.batch.end_time.strftime('%B %d, %Y') %></h4>
    <div id="timer" class="col-xs-2 col-xs-offset-5">
      <h1 id ="time-left"><%= @product.batch.time_difference(Time.now, @product.batch.end_time) %></h1>
    </div>
  </div>

  <% batch_sales = 0 %>
  <% @product.batch.products.each do |product| %>
    <% product.commits.each do |commit| %>
      <% batch_sales += commit.amount.to_f*commit.product.discount.to_f %>
    <% end %>
  <% end %>
  <% if batch_sales > @product.batch.milestones[0].goal.to_i %>
    <% batch_sales = @product.batch.milestones[0].goal.to_i %>
  <% end %>

  <% percent_away = '%.2f' % (100-(100*(batch_sales/@product.batch.milestones[0].goal.to_f))) %>
  <div class="row">
    <div id="status-bar" class="border col-xs-6 col-xs-offset-3">
      <div id="batch-progress" style="width:<%=100*(batch_sales/@product.batch.milestones[0].goal.to_f) %>%; background:green"></div>
    </div>
    <div class="col-xs-1">
      <h5><%= percent_away %>% away from discount</h5>
    </div>
  </div>

  <div class="row col-xs-10 col-xs-offset-1 text-center">
    <h1> <%= @product.title %> </h1>
    <div class="row">
      <div class="row col-xs-4 no-margin no-padding">
        <%= image_tag @product.main_image.url(:large), :class => "responsive-img" %>
      </div>
      <div class="col-xs-8">
        <% if percent_away == '0.00' %>
          <h2>This batch has reached it's goal, place your order for a guaranteed discount!</h2>
        <% end %>
        <h3>Original Wholesale Price: $<%= @product.price %> </h3>
        <h3>Discounted Price: $<%= @product.discount %> (<%= '%.0f' % (100*(1-(@product.discount.to_f/@product.price.to_f)))%>% discount)</h3>

        <% if current_user.user_type == 'retailer' %>
          <% users_commit = Commit.where('user_id = ? AND product_id = ?', current_user.id, @product.id) %>
          <% if users_commit != [] %>
            <div id="already-ordered">
              <h3>You have already commited to <%= users_commit[0].amount %> purchase orders, would you like to <a id="edit-that">edit that?</a> </h3>
            </div>
            <div id="edit-order">
              <%= form_for users_commit[0] do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :product_id, :value => @product.id %>
                <%= f.label :amount %>
                <%= f.number_field :amount %> <br>
                <%= f.button "Update #{product.description} #{@product.title} Order" %>
              <% end %>
              <%= button_to "Delete Order", users_commit[0], method: :delete %> <br>
              <button id="cancel-edit">Cancel</button>
            </div>
          <% else %>
            <%= form_for Commit.new do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.label :amount %>
              <%= f.number_field :amount %> <br>
              <%= f.button "Commit to purchase #{@product.title}" %>
            <% end %>
            <!-- Closes users_commit if -->
          <% end %>
          <!-- Closes if user == retailer -->
        <% end %>

      </div>
    </div>
      <div class="row col-xs-4" style="margin-top: 1em">
        <% if @product.photo_two != nil %>
          <div class="col-xs-4 no-padding; margin-left: 0.1em">
            <%= image_tag @product.photo_two.url(:small), :class => "responsive-img" %>
          </div>
        <% end %>
        <% if @product.photo_three != nil %>
          <div class="col-xs-4 no-padding; margin-left: 0.1em">
            <%= image_tag @product.photo_three.url(:small), :class => "responsive-img" %>
          </div>
        <% end %>
        <% if @product.photo_four != nil %>
          <div class="col-xs-4 no-padding; margin-left: 0.1em">
            <%= image_tag @product.photo_four.url(:small), :class => "responsive-img" %>
          </div>
        <% end %>
        <% if @product.photo_five != nil %>
          <div class="col-xs-4 no-padding; margin-left: 0.1em">
            <%= image_tag @product.photo_five.url(:small), :class => "responsive-img" %>
          </div>
        <% end %>
      </div>
    <h4>Being sold by: <%= @product.batch.user.email %> </h4>
    <h5> <%= @product.description %> </h5>

    <% total_commits = 0 %>
    <% @product.commits.each do |commit| %>
      <% total_commits += commit.amount.to_i %>
    <% end %>

    <h4> There has been <%= total_commits %> total purchase <% if total_commits == 1 %>order <%else %>orders <%end%>made </h4>

    <% if percent_away != '0.00' %>
      <h4><%= percent_away %>% away from discount</h4>
    <% end %>
  </div>
  <!-- Products in this batch -->
  <div class="col-xs-12 row text-center">
    <h2>Other products for sale in this <%= link_to "batch:", batch_path(@product.batch.id) %></h2>
    <% @batch_products.each do |product| %>
      <div id="product" class="col-xs-3 no-padding text-center">
        <h3><%= link_to product.title, product_path(product.id) %></h3>
        <%= image_tag product.main_image.url(:large), :class => "responsive-img" %>
        <h4>$<%= product.discount %></h4>
        <h5><%= '%.2f' % (100*(1 - (product.discount.to_f/product.price.to_f))) %>% discount</h5>
      </div>
    <% end %>
  </div>

</div>

<script>
$('#edit-that').click(function(){
  $('#already-ordered').toggle()
  $('#edit-order').toggle()
})

$('#cancel-edit').click(function(){
  $('#already-ordered').toggle()
  $('#edit-order').toggle()
})

var time = $('#time-left').text().split('')
var days = time[0] + time[1]
var hours = time[3] + time[4]
var minutes = time[6] + time[7]
var seconds = time[9] + time[10]
function setTime(){
  $('#time-left').text(days+ ":" + hours + ":" + minutes + ":" +seconds)
}

function setSeconds(){
  if(seconds > 0){
    seconds -= 1
    if(seconds < 10){
      seconds = "0" + seconds
    }
  } else {
    seconds = 59
    getMinutes()
    checkTime()
  }
  setTime()
}

function getMinutes(){
  if(minutes > 0){
    minutes -= 1
    if(minutes < 10){
      minutes = "0" + minutes
    }
  } else {
    minutes = 59
    getHours()
  }
  setTime()
}

function getHours(){
  if(hours > 0){
    hours -= 1
    if(hours < 10){
      hours = "0" + hours
    }
  } else {
    hours = 23
    getDays()
  }
  setTime()
}

function getDays(){
  if(days > 0){
    days -= 1
    if(days < 10){
      days = "0" + days
    }
  }
  setTime()
}

function checkTime(){
  if(seconds == '00' && minutes == '00' && hours == '00' && days == '00'){
      // var batchId = $(this).attr('data');
      // var xhttp = new XMLHttpRequest();
      // xhttp.onreadystatechange = function(){
      //   if(xhttp.readyState == 4 && xhttp.status == 200){
      //     JSON.parse(xhttp.responseText);
      //   }
      // }
      // xhttp.open("GET", "/batches/" + batchId + "/mark_batch_as_past");
      // xhttp.send();
      // location.reload();
  }
}

setInterval(setSeconds, 1000)
</script>
