<div class="container">

  <div class="show-product">
    <div class="col 12 valign-wrapper">
      <div class="row">

        <div class="col s12 m6">

          <div class="title-box z-depth-1 center-align">
            <h4 id="timer" class='dark-bluebird-text bold'></h4>
          </div>

          <div class="image-box z-depth-1 valign">

            <div class="images">
              <div class="row">
                <div class="col s12">
                  <%= image_tag @product.main_image.url(:large), :class => 'responsive-img main-image materialboxed', :data => {:var => "general-prices"} %>
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <% if @product.photo_two.present? %>
                    <%= image_tag @product.photo_two.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_three.present? %>
                    <%= image_tag @product.photo_three.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_four.present? %>
                    <%= image_tag @product.photo_four.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>

                <div class="col s2">
                  <% if @product.photo_five.present? %>
                      <%= image_tag @product.photo_five.url(:large), :class => 'responsive-img alternate-image' %>
                  <% end %>
                </div>
                <% if @product.has_variants? %>
                  <% @product.product_variants.each do |var| %>
                    <div class="col s2">
                      <%= image_tag var.image.url(:large), :class => 'responsive-img alternate-image', :data => {:var => var.id} %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>

        <div class="col s12 m6">
          <div class="row center-align no-bottom-margin">

            <div class="info-box z-depth-1">
              <div class="row">
                <h5 class='bold'><%= @product.title %></h5>
                <% if @product.featured %>
                  <span class='valign-wrapper center-block'><img src="/images/bluebird-blue-mascot.png" style="height: 20px; display: inline-block" /> <h6 class='truncate bluebird-text bold' style='display: inline-block'>BlueBird Favorite!</h6></span>
                <% end %>
                <a class='black-text link' href="/company/<%= @product.wholesaler.user.company.id %>/<%=@product.wholesaler.user.company.company_key%>">
                  <h6>From <%= @product.wholesaler.user.company.company_name %></h6>
                </a>
                <% if @product.wholesaler.contactable_by_email %>
                  <h6><a href="/company/<%=@product.wholesaler.user.company.id%>/<%=@product.wholesaler.user.company.company_key%>/contact">Contact <%= @product.wholesaler.user.company.company_name%></a></h6>
                <% end %>
                <div class="pricing-div general-prices" data-var="general-prices">
                  <h6 class='was-price' style="display: inline-block"><%= @product.full_price_range %></h6>
                  <h6 class='now-price bold' style="display: inline-block"><%= @product.price_with_fee_range %></h6>
                  <h6>Suggested Retail Price: <span class='bold'><%= @product.suggested_retail_range %></span></h6>
                </div>
                <% @product.skus.each do |sku| %>
                  <div class="pricing-div" style='display: none' data-var="<%=sku.product_variant_id%>">
                    <h6><%= sku.description %>:</h6>
                    <h6 class='was-price' style="display: inline-block"><%= number_to_currency(sku.price) %></h6>
                    <h6 class='now-price bold' style="display: inline-block"><%= number_to_currency(sku.price_with_fee) %></h6>
                    <h6>Suggested Retail Price: <span class='bold'><%= number_to_currency(sku.suggested_retail) %></span></h6>
                  </div>
                <% end %>
              </div>

              <div class="row">
                <h6><%= simple_format(@product.long_description) %></h6>
              </div>

              <div class="row">
                <ul>
                  <li><%= @product.feature_one %></li>
                  <% if !@product.feature_two.nil? %>
                    <li><%= @product.feature_two %></li>
                  <% end %>
                  <% if !@product.feature_three.nil? %>
                    <li><%= @product.feature_three %></li>
                  <% end %>
                  <% if !@product.feature_four.nil? %>
                    <li><%= @product.feature_four %></li>
                  <% end %>
                  <% if !@product.feature_five.nil? %>
                    <li><%= @product.feature_five %></li>
                  <% end %>
                </ul>
              </div>

              <div class="row no-bottom-margin">
                <h6><%= @product.orders_to_discount %></h6>
                <div class="<%= @product.progress_class %>">
                  <span style="<%= @product.progress_bar_style %>"><span></span></span>
                </div>
                <div class="row col s12">
                  <div class="col s6">
                    <h6><%= '%.0f' % @product.percent_to_discount %>% to discount</h6>
                  </div>
                  <div class="col s6">
                    <h6><%= @product.time_to_expiration %></h6>
                  </div>
                </div>
              </div>

            </div>
          </div>

            <% if current_user.is_retailer? %>
              <div class="row center-align">
                <div class="order-box z-depth-1">
                  <% if !current_user.retailer.products_orders(@product.id).any? %>
                    <a href="/products/<%= @product.id %>/<%= @product.slug %>/order" class='btn'>Make Purchase Order</a>
                  <% else %>
                    <div class="row">
                      <%
                      Stripe.api_key = ENV['STRIPE_SECRET_KEY']
                      customer = Stripe::Customer.retrieve(current_user.retailer.stripe_id)
                      card = customer.sources.retrieve(current_user.retailer.products_orders(@product.id).first.card_id)
                      %>
                      <h6>You have ordered <%= current_user.retailer.products_orders(@product.id).first.amount %> units.</h6>
                      <h6>Credit card: <%= card.brand %>: **** <%= card.last4 %></h6>
                      <h6>Ship to: <%= current_user.retailer.products_orders(@product.id).first.shipping_address.street_address_one.downcase.capitalize %></h6>
                    </div>
                    <a href="/retailer/order_history/<%= current_user.retailer.products_orders(@product.id).first.id %>" class='btn'>Edit Order</a>
                  <% end %>
                </div>
              </div>
            <% end %>

        </div>
      </div>
    </div>

    <div class="row col s12 order-box z-depth-1">
      <div class="row">
        <h6 class='bold'>About <%= @product.wholesaler.user.company.company_name %></h6>
      </div>
      <div class="row">
        <h6><%= @product.wholesaler.display_rating %></h6>
        <div class="star-ratings-css">
          <div class="star-ratings-css-top" style="width: <%=(@product.wholesaler.wholesaler_stat.rating/5)*100%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
        </div>
      </div>
      <% if !@product.wholesaler.return_policy.nil? %>
        <div class="row">
          <h6 class='bold'>Return Policy:</h6>
          <h6><%= @product.wholesaler.return_policy.policy %></h6>
          <h6><%= @product.wholesaler.return_policy.description %></h6>
        </div>
      <% end %>
      <div class="row">
        <h6 class='bold'>Shipping:</h6>
        <% if @product.wholesaler.wholesaler_stat.total_shipments > 0 %>
          <h6>Average out for shipping time: <%= @product.wholesaler.wholesaler_stat.average_shipping %></h6>
        <% end %>
        <% if !@product.wholesaler.shipping_policy.nil? %>
          <h6>Shipping Policy: <%= @product.wholesaler.shipping_policy %></h6>
        <% end %>
      </div>
    </div>

  </div>

  <%= render partial: 'partials/similar_products' %>

</div>

<script>

   $('.commit-step-one').submit(function(e){
     e.preventDefault()
     var amount = $(this).find('.order-amount').val()
     $(this).find('.order-amount').val(null)
     $(this).hide()
     $('.real-commit-div').attr('class', 'real-commit-div')
     $('.real-order-amount').val(amount)
   })
   $('.cancel-order-form').click(function(){
     $('.real-order-amount').val(null)
     $('.real-commit-div').attr('class', 'real-commit-div hidden')
     $('.commit-step-one').show()
   })

  $('.contact-info-toggle-on').click(function(){
    $(this).toggle()
    $('.contact-info').toggle()
  })

  $('.contact-info-toggle-off').click(function(){
    $('.contact-info-toggle-on').toggle()
    $('.contact-info').toggle()
  })

  $('.edit-order-button').click(function(){
    $(this).toggle()
    $('.cancel-edit').toggle()
    $('.images').fadeOut()
    setTimeout(function(){
      $('.edit-order').fadeIn()
    }, 400)
  })

  $('.cancel-edit').click(function(){
    $('.cancel-edit').toggle()
    $('.edit-order-button').toggle()
    $('.edit-order').fadeOut()
    setTimeout(function(){
      $('.images').fadeIn()
    }, 400)
  })

  $(document).ready(function(){
    alternateImage()
    $('.materialboxed').materialbox();
    $('.product').mouseover(function(){
      $(this).attr('class', 'product z-depth-4')
    })
    $('.product').mouseout(function(){
      $(this).attr('class', 'product')
    })
    setTime()
    setInterval(timer, 1000);
  })

  function setTime(){
    var seconds = <%= @product.end_time - Time.current %>;
    var days        = Math.floor(seconds/24/60/60);
    var hoursLeft   = Math.floor((seconds) - (days*86400));
    var hours       = Math.floor(hoursLeft/3600);
    var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
    var minutes     = Math.floor(minutesLeft/60);
    var remainingSeconds = Math.floor(seconds % 60);
    if(minutes < 10) {
      minutes = "0" + minutes
    }
    if(hours < 10) {
      hours = "0" + hours
    }
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    document.getElementById('timer').innerHTML = days + ":" + hours + ":" + minutes + ":" + remainingSeconds;
  }

  var seconds = <%= @product.end_time - Time.current %>;
  function timer() {
    var days        = Math.floor(seconds/24/60/60);
    var hoursLeft   = Math.floor((seconds) - (days*86400));
    var hours       = Math.floor(hoursLeft/3600);
    var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
    var minutes     = Math.floor(minutesLeft/60);
    var remainingSeconds = Math.floor(seconds % 60);
    if(minutes < 10) {
      minutes = "0" + minutes
    }
    if(hours < 10) {
      hours = "0" + hours
    }
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    document.getElementById('timer').innerHTML = days + ":" + hours + ":" + minutes + ":" + remainingSeconds;
    if (seconds == 0) {
        location.reload()
    } else {
        seconds--;
    }
  }

  function alternateImage(){
    $('.alternate-image').click(function(){
      console.log($(this).attr('data-var'));
      var makeMain = $(this).attr('src')
      var makeMainData = $(this).attr('data-var')
      var makeAlternate = $('.main-image').attr('src')
      var makeAlternateData = $('.main-image').attr('data-var')
      $('.main-image').attr('src', makeMain)
      $('.main-image').attr('data-var', makeMainData)
      $(this).attr('src', makeAlternate)
      $(this).attr('data-var', makeAlternateData)
      $('.pricing-div').hide()
      $('.pricing-div[data-var='+makeMainData+']').css({display: 'inherit'})
    })
  }
</script>
