
<div class="center-align row">
  <div class="col s8 offset-s2 m4 offset-m4 border">
    <h2 id="timer"><%= @product.end_time - Time.now %></h2>
  </div>
</div>

<script>
$(document).ready(function(){
  setInterval(countDown, 1000)
})
  function countDown(){
    var timeInSeconds = $('#timer').text()
    $('#timer').text(Math.floor(timeInSeconds - 1))
  }
</script>

<div class="row col s10 offset-s1 center-align valign-wrapper" style="padding: 5em">
  <div class="col s4 valign">
    <%= image_tag @product.main_image, :class => 'responsive-img main-image' %>
    <div class="row">
      <div class="col s3">
        <% if @product.photo_two.exists? %>
          <%= image_tag @product.photo_two, :class => 'responsive-img alternate-image' %>
        <% end %>
      </div>
      <div class="col s3">
        <% if @product.photo_three.exists? %>
          <%= image_tag @product.photo_three, :class => 'responsive-img alternate-image' %>
        <% end %>
      </div>
      <div class="col s3">
        <% if @product.photo_four.exists? %>
          <%= image_tag @product.photo_four, :class => 'responsive-img alternate-image' %>
        <% end %>
      </div>
      <div class="col s3">
        <% if @product.photo_five.exists? %>
          <%= image_tag @product.photo_five, :class => 'responsive-img alternate-image' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s8">
    <h3>Product expires at <%= @product.calc_end_time %></h3>
    <% total_orders = Commit.where('product_id = ?', @product.id).sum(:amount).to_i %>
    <% total_sales = total_orders*@product.discount.to_f %>
    <% percentage = ((total_sales/@product.milestones[0].goal.to_i)*100) %>
    <% if percentage >= 100 %>
      <% percentage = 100 %>
    <% end %>
    <div class="row">
      <h4><%= '%.2f' % percentage %>% of the way to the discount!</h4>
      <div class="progress-bar-outline col s8 offset-s2 no-padding">
        <div class="progress-fill no-margin" style="width: <%= percentage %>%">
        </div>
      </div>
    </div>
    <h2><%= @product.title %></h2>
    <h4 class='was-price'>Was $<%= @product.price %></h4>
    <h4>Now being offered for $<%= @product.discount %></h4>
    <h5><%= @product.description %></h5>
    <% users_orders = current_user.commits.where('product_id = ?', @product.id) %>
    <% if users_orders == [] && current_user.user_type != 'wholesaler' %>
      <div class="col s8 offset-s2">
        <%= form_for Commit.new do |f| %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <div class="input-field">
          <%= f.label "Order Quantity" %>
          <%= f.number_field :amount %>
        </div>
        <%= f.button "Make Order", :class => 'btn' %>
        <% end %>
      </div>
    <% elsif users_orders != [] %>
      <h4><%= link_to "Ordered #{users_orders[0].amount}", commit_path(users_orders[0].id) %> </h4>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    alternateImage()
  })

  function alternateImage(){
    $('.alternate-image').click(function(){
      console.log('click');
      var makeMain = $(this).attr('src')
      var makeAlternate = $('.main-image').attr('src')
      $('.main-image').attr('src', makeMain)
      $(this).attr('src', makeAlternate)
    })
  }
</script>
