<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="9lh3o5kbrFWSBA-EVoExbUbaOOt5J_LW2WM-D-zzOd4" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    <% if Rails.env == 'development' %>
      Stripe.setPublishableKey('pk_test_A1E9FwserSpqc63UDg09WWo2');
    <% elsif Rails.env == 'production' %>
      Stripe.setPublishableKey('pk_live_WpLW7zL0afVFpS7ce30Izu8E');
    <% end %>
  </script>
</head>
<body>
<div class="row">

  <%= render partial: 'partials/nav' %>
  <div class="hide-on-small-only">
    <%= render partial: 'partials/admin_profile_nav' %>
  </div>

  <div class="col m8 offset-m3 body-div">
    <%= yield %>
  </div>

</div>
</body>
</html>
