<!DOCTYPE html>
<html>
<head>
  <title>BlueBird.club</title>
  <meta name="google-site-verification" content="SKCbtDSLrWbyzjHx0lShG6WDSKbBPstXqf9d7t652c0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    Stripe.setPublishableKey('pk_test_A1E9FwserSpqc63UDg09WWo2');
  </script>
</head>
<body>

<% if !current_user.nil? %>
  <%= render partial: 'partials/nav' %>
<% end %>

  <div class="body-div col s12">
    <%= yield %>
  </div>

</body>
</html>
