<!DOCTYPE html>
<html>
<head>
  <title>BlueBird.club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="9lh3o5kbrFWSBA-EVoExbUbaOOt5J_LW2WM-D-zzOd4" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    <% if ENV['HEROKU_ENVIRONMENT'] == 'development' || ENV['HEROKU_ENVIRONMENT'] == 'testing' %>
      Stripe.setPublishableKey('pk_test_A1E9FwserSpqc63UDg09WWo2');
    <% elsif ENV['HEROKU_ENVIRONMENT'] == 'production' %>
      Stripe.setPublishableKey('pk_live_WpLW7zL0afVFpS7ce30Izu8E');
    <% end %>
  </script>
</head>
<body>
<div class="row">

<%= render partial: 'partials/nav' %>

  <div class="body-div">
    <%= yield %>
  </div>

</div>
</body>
</html>
